.c-spacing--size {
  @apply w-full max-w-screen-2xl mx-auto;
}

:root {
  --c-spacing--x: theme('spacing.3');

  @screen xxs {
    --c-spacing--x: theme('spacing.6');
  }

  @screen md {
    --c-spacing--x: theme('spacing.9');
  }

  @screen lg {
    --c-spacing--x: theme('spacing.20');
  }

  @screen 2xl {
    --c-spacing--x: theme('spacing.32');
  }
}

.c-spacing--x {
  @apply px-spacing-x;
}

:root {
  --c-spacing--y-small: theme('spacing.3');
  --c-spacing--y: theme('spacing.6');

  @screen xxs {
    --c-spacing--y-small: theme('spacing.6');
    --c-spacing--y: theme('spacing.12');
  }

  @screen md {
    --c-spacing--y-small: theme('spacing.10');
    --c-spacing--y: theme('spacing.20');
  }
}

.c-spacing--y {
  @apply my-spacing-y;
}

.c-spacing--y-small {
  @apply my-spacing-y-small;
}
