.market-block {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;

  &--highlight {
    padding: 0.5em 1em 0.3em;
    margin-right: 1em;
    border-left: 4px solid #0097d7;
    background-color: whitesmoke;
  }
}
