.metrics {
  display: inline-block;
  margin: 0;
  padding: 0;

  &__item {
    list-style: none;
    display: inline-block;
    margin-left: 0.5em;

    &:first-child {
      margin-left: 0;
    }
  }
}
