.package {
  &__meta {
    margin-bottom: 1em;
    font-size: 0.85em;
  }

  &__avatar {
    padding-bottom: 1.5em;
    width: 70%;
    display: block;
    margin: 0 auto;
    filter: grayscale(100%);
  }
}
