.readme {
  background-color: whitesmoke;
  border: 1px solid #CCC;
  padding: 1em;
  margin-bottom: 2em;

  &__notice {
    border-top: 1px dotted #999;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 13px;
    color: #888;
  }

  &__wrapper {
    overflow: hidden;
  }

  .octicon-link {
    display: none;
  }

  h1 {
    font-size: 1.8em;
    font-weight: 600;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 600;
  }

  h3 {
    font-size: 1.35em;
    font-weight: 400;
  }

  h4, h5, h6 {
    font-size: 1.2em;
    font-weight: 400;
  }

  pre, code {
    background-color: #979797;
    color: white;
  }

  pre {
    padding: 1em;
  }

  .task-list {
    margin: 0;
    padding: 0;
  }

  .task-list-item {
    list-style: none;
  }
}
