.result-list {
  &__item {
    border-bottom: 1px solid #eceeef;
    padding-bottom: .3em;
    margin-bottom: .3em;
    font-size: 0.85em;
  }

  &__title {
    margin-bottom: 4px;
  }

  &__meta {
    display: block;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 13px;
    color: #888;
  }
}

