.search-form {
  position: relative;
  margin-bottom: 1em;

  &__label,
  &__input {
    padding: .5em 1em;
    line-height: inherit;
  }

  &__label {
    position: absolute;
    display: inline-block;
    font-size: 1.05em;
  }

  &__input {
    box-sizing: border-box;
    display: block;
    width: calc(100% - 86px);
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
    outline: none;
  }
}
