.show-more {
  height: 100%;

  &__target {
    transition: 1s;
    height: auto;
  }

  &__button {
    color: #0097d7;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #c9c3c3;
    padding: 0.5em 1em;
    display: block;
    width: 100%;
    outline: none;
  }
}
