.version {
  border-bottom: 1px solid #eceeef;
  margin-bottom: 1em;
  background-color: #eceeef;
  padding: 0.5em 1em;
  transition: opacity 0.7s ease-in-out;

  &--hide {
    opacity: 0.4;
  }

  dt {
    font-weight: 600;
  }

  dd {
    -webkit-margin-start: 0;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: baseline;
  }
}
