.version-nav {
  padding: 0;
  margin: 0;
  overflow: hidden;

  &__item {
    list-style: none;
  }

  &__link {
    display: block;
    overflow: hidden;
    text-decoration: none;
    padding: 0.1em 0.4em;
    background-color: white;
    transition: all 0.85s;

    &:hover,
    &:focus {
      color: white;
      background-color: #00adee;
      text-decoration: none;
    }

    &:active,
    &:visited {
      text-decoration: none;
      outline: 0;
    }
  }

  &__version,
  &__time {
    line-height: 26px;
  }

  &__version {
    vertical-align: baseline;
  }

  &__time {
    float: right;
    font-size: 80%;
    vertical-align: baseline;
  }
}
