@charset "UTF-8";
@viewport {
	width: device-width;
}

//
// Brics - A Starter Sass-Kit which embraces OOCSS, BEM and the Atomic Design-Approach.
// @version 1.3.2
// @see https://inkdpixels.github.io/Brics/
//



// SASS Functions, Mixins and Variables
@import '../../../../Neos.NeosIo/Resources/Private/Scss/_Framework/_Index';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/_Variables';
@import './_Variables';


// Utilities
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Utilities/_Animations';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Utilities/_Brand';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Utilities/_Display';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Utilities/_Layout';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Utilities/_Spacings';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Utilities/_Typography';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Utilities/_Widths';
@import "../../../../Neos.NeosIo/Resources/Private/Scss/Utilities/_Neos";

// Atoms
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Alert';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_AmChart';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Avatar';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Base';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Button';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_ButtonChoiceLabel';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Code';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Form';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Hamburger';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Icon';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Heading';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Input';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Label';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Link';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_List';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Media';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Quote';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Ruler';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_ScrollHint';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Table';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Typography';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Thumbnail';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_Meta';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Atoms/_EventCosts';

// Molecules
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_Badge';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_FactsGrid';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_Flag';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_FlexibleEmbed';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_Form';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_Grid';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_Media';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_Navigation';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_Pagination';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_Spinner';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_Table';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_HeadlineSlider';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_ImageTeaser';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_FundingBadges';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_ReferencesList.scss';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_BoxAside';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Molecules/_Checked';

// Organisms
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Organisms/_SiteHeader';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Organisms/_OffCanvas';
@import './Organisms/_KeyVisual';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Organisms/_DeviceStage';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Organisms/_Stage';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Organisms/_Box';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Organisms/_Post';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Organisms/_SideBar';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Organisms/_SiteFooter';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Organisms/_Team';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Organisms/_BlueBox';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Organisms/_PackageListing';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Organisms/_EventStage';
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Organisms/_Speaker';
@import './Organisms/_Speaker';
@import './Organisms/CountUp';
@import './Organisms/_Talk';

// Templates
@import '../../../../Neos.NeosIo/Resources/Private/Scss/Templates/_Print';

.neos-neosio-youtube {
	margin-bottom: #{$basic-spacing}px;

	> .flexibleEmbed {
		max-width: 100%;
	}
}
