{namespace neos=Neos\Neos\ViewHelpers}
{namespace io=Neos\NeosIo\ViewHelpers}
<figure{f:if(condition: imageClassName, then: ' class="{imageClassName}"')}>
<f:if condition="{image}">
	<f:then>
		<io:link.external uri="{link}" openInNewTab="{openInNewTab}" noLinkWhen="{neos:rendering.inBackend()}">
			<f:render partial="LazyLoadImage"
					  arguments="{title: title, alternativeText: alternativeText, image: image, width: width, maximumWidth: maxWidth, height: height, maximumHeight: maxheight, allowUpScaling: allowUpScaling}"/>
		</io:link.external>
	</f:then>
	<f:else>
		<f:if condition="{neos:rendering.inEditMode()}">
			<io:link.external uri="{link}" openInNewTab="{openInNewTab}" noLinkWhen="{neos:rendering.inBackend()}">
				<img src="{f:uri.resource(package: 'Neos.Neos', path: 'Images/dummy-image.svg')}" title="Dummy image"
					 alt="Dummy image" class="neos-handle"/>
			</io:link.external>
		</f:if>
	</f:else>
</f:if>
<f:if condition="{caption}">
	<f:then>
		<figcaption>
			{neos:contentElement.editable(property: 'caption', node: node)}
		</figcaption>
	</f:then>
	<f:else>
		<f:if condition="{neos:rendering.inEditMode()}">
			<figcaption>
				{neos:contentElement.editable(property: 'caption', node: node)}
			</figcaption>
		</f:if>
	</f:else>
</f:if>
</figure>
