/**
 * Print styles - Inlined to avoid another HTTP connection.
 */

@media print {
	* {
		background: transparent !important;

		// Black prints faster: h5bp.com/s
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	@page {
		margin: 0.5cm;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		// h5bp.com/t
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	%print-hidden,
	.print-hidden {
		display: none;
	}
}
