{namespace neos=Neos\Neos\ViewHelpers}

<footer role="contentinfo" class="siteFooter u-invertText">
	{parts.footerContent -> f:format.raw()}
	<hr>

	<div class="g">
		<div class="gi u-w1/1 u-wm1/4">
			<a href="/" title="Home">
				<f:render partial="BrandLogoOutline.html" arguments="{size: 'square'}" />
			</a>
		</div>
		<div class="gi u-w1/1 u-wm1/4">
			<h6 class="siteFooter__heading">Neos</h6>
			{parts.footerMenu -> f:format.raw()}
		</div>
		<div class="gi u-w1/1 u-wm1/4">
			<h6 class="siteFooter__heading">Community</h6>
			<ul class="nav nav--stacked siteFooter__nav">
				<li><a target="_blank" rel="noopener" href="https://discuss.neos.io">discuss.neos.io</a></li>
				<li><a target="_blank" rel="noopener" href="https://id.neos.io">id.neos.io</a></li>
				<li><a target="_blank" rel="noopener" href="https://slack.neos.io">slack.neos.io</a></li>
				<li><a target="_blank" rel="noopener" href="https://translate.neos.io">translate.neos.io</a></li>
			</ul>
		</div>
		<div class="gi u-w1/1 u-wm1/4">
			<h6 class="siteFooter__heading">Follow Neos</h6>
			<ul class="nav nav--stacked siteFooter__nav">
				<li><a target="_blank" rel="noopener" href="https://github.com/neos"><i class="fa fa-fw fa-github"></i> GitHub</a></li>
				<li><a target="_blank" rel="noopener" href="https://twitter.com/NeosCMS"><i class="fa fa-fw fa-twitter"></i> Twitter</a></li>
				<li><a target="_blank" rel="noopener" href="https://www.facebook.com/NeosCMS"><i class="fa fa-fw fa-facebook"></i> Facebook</a></li>
				<li><a target="_blank" rel="noopener" href="https://google.com/+NeosCMS"><i class="fa fa-fw fa-google-plus"></i> Google+</a></li>
				<li><a target="_blank" rel="noopener" href="https://youtube.com/c/NeosCMS"><i class="fa fa-fw fa-youtube"></i> YouTube</a></li>
			</ul>
		</div>
	</div>

	<p class="u-alignCenter u-mt1/1">
		Neos is free and open source software licensed under <a href="https://opensource.org/licenses/GPL-3.0" target="_blank" rel="noopener">GPL v3</a> or later.<br />
		Created with passion by over
		<span
			data-component="GitHubAPI"
			data-endpoint="repos/Neos/neos-development-collection/stats/contributors"
			data-property="length"
		>
			<span class="spinner">
				<i class="spinner__dot"></i>
				<i class="spinner__dot"></i>
				<i class="spinner__dot"></i>
			</span>
		</span>
		contributors around the world.<br />
		Website hosted by <a href="https://www.flownative.com" target="_blank" rel="noopener">Flownative</a>.
		<a target="_blank" rel="noopener" href="https://status.neos.io">System status.</a><br />

		<f:if condition="{imprintLinkNode}">
			<neos:link.node node="{imprintLinkNode}">Imprint</neos:link.node>
		</f:if>
	</p>
</footer>
