<div{attributes -> f:format.raw()}>
    <img style="width: 47%; display: inline-block" src="https://neosfunding.sandstorm.de/_Resources/Static/Packages/Sandstorm.NeosFundingWebsite/images/badges/bronze_dark.png" alt="Bronze Badge">
    <img style="width: 47%; display: inline-block" src="https://neosfunding.sandstorm.de/_Resources/Static/Packages/Sandstorm.NeosFundingWebsite/images/badges/dresden_dark.png" alt="Dresden Badge">
    <p class="small">Badge are provided by our Funding plateform, interseted in <a href="#">helping the Neos Project</a> ?</p>
</div>
