.featureList {

}

.featureGroup {
    margin: 2em 0;
}

.featureGroup__title {
    font-weight: bold;
    font-size: 1.4em;
    margin: 1em 0;
}

.featureGroup__features {

}

.feature {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
}

.feature > * {
    padding: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}

.feature__title {
    width: calc(20% - 10px);
    font-weight: bold;
    padding-left: 0;
}

.feature__core {
    width: 30px;
    color: #00ADEE;
}

.feature__community {
    width: 30px;
    color: #00ADEE;
}

.feature__description {
    flex-grow: 1;
    width: calc(50% - 20px);
}

.feature__links {
    width: calc(20% - 10px);
    padding-right: 0;
    text-align: right;
}

.feature__links a {
    display: block;
}

@media all and (max-width: 800px) {
    .feature__title {
        width:  calc(50% - 40px);
    }
    .feature__links {
        width:  calc(50% - 40px);
    }
    .feature__description {
        order: 2;
        flex: 1 0 100%;
        padding-left: 0;
        padding-top: 0;
    }
}

