.imageTeaser--speaker {
	min-height: 0;
	height: $imageTeaser--speaker__width;
	width: $imageTeaser--speaker__width;

	.imageTeaser__contents {
		padding: 1em;
	}

	.imageTeaser__contents__heading {
		display: inline;
		font-size: 16px;
	}

	.imageTeaser__contents__text {
		display: none;
	}
}