root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = tab
indent_size = 4

[{*.{yaml,yml},package.json,.*rc}]
indent_size = 2

[*.{php,fusion,yaml,yml,json}]
indent_style = space

[Sites.xml]
indent_size = 1
