/.Docker/elasticsearch
/.Docker/mariadb
/Build/*
/Configuration/**/*.yaml.example
/Configuration/**/*.php
/Configuration/README
/Configuration/Testing
/Data/
/Web/
/bin/
/Packages/Framework
/Packages/Libraries
/Packages/Plugins
/Packages/Application/*
!/Packages/Application/Neos.NeosIo.Event
/flow
/flow.bat
/Readme.rst
/Upgrading.rst

.sass-cache
node_modules
.grunt_cache
.DS_STORE
npm-debug.log
