/.Docker/elasticsearch
/.Docker/mariadb
.Docker/secrets/beach-ssh-hostkeys/*
!/.Docker/secrets/beach-ssh-hostkeys/generate-hostkeys.sh
/Build/*
/Configuration/**/*.yaml.example
/Configuration/**/*.php
/Configuration/Development/*
!/Configuration/Development/Beach
/Configuration/README
/Configuration/Testing
/Data/
/Web/_Resources
/Web/.htaccess
/Web/index.php
/bin/
/Packages/Framework
/Packages/Libraries
/Packages/Plugins
/Packages/Application/*
!/Packages/Application/Neos.NeosIo.Event
/flow
/flow.bat
/Readme.rst
/Upgrading.rst

.sass-cache
node_modules
.grunt_cache
.DS_STORE
npm-debug.log
