{
  "overrides": [
    {
      "files": [
        "*.yaml",
        "*.yml",
        "*.js",
        "*.jsx",
        "*.mjs",
        "*.mjsx",
        "*.ts",
        "*.tsx",
        "*.mts",
        "*.mtsx"
      ],
      "options": {
        "singleQuote": true
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["attributes.class", "additionalClass"],
  "tailwindFunctions": ["clsx", "Tailwind.merge", "afx"],
  "tailwindStylesheet": "./DistributionPackages/Neos.Presentation/Resources/Private/Assets/Main.pcss",
  "tailwindPreserveDuplicates": true,
  "tailwindPreserveWhitespace": true
}
