{
  "overrides": [
    {
      "files": [
        "*.yaml",
        "*.yml",
        "*.js",
        "*.jsx",
        "*.mjs",
        "*.mjsx",
        "*.ts",
        "*.tsx",
        "*.mts",
        "*.mtsx",
        "*.vue",
        "*.mvue"
      ],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
