{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-tailwindcss"
  ],
  "ignoreFiles": [
    "**/Public/**",
    "**/Private/Templates/**",
    "node_modules/**",
    "**/*.noLinter.*"
  ]
}
