@import "tailwindcss" source(none);
@import url("Styles/**/*.pcss");
@import url("Atom/**/*.pcss");
@import url("Molecule/**/*.pcss");
@import url("Organism/**/*.pcss");
@plugin "tailwindcss-hocus";

@source "./**/*.{fusion,js,ts,html}";
