@import url("tailwindcss/base");
@import url("tailwindcss/components");
/* Add here the imports from subfolders */
@import url("Atom/**/*.pcss");
@import url("Molecule/**/*.pcss");
@import url("Module/**/*.pcss");
/* Modules should not contain any custom CSS or JS/TS and instead use inline Tailwind and Alpinejs */
@import url("Organism/**/*.pcss");
@import url("Styles/*.pcss");
@import url("tailwindcss/utilities");

@layer base {
  html {
    @apply font-sans;
  }
}
