.neos-nodetypes-textwithimage,
.neos-nodetypes-image {
	@include u-cf();
}
.neos-alignment-left {
	float: left;
}
.neos-alignment-center {
	text-align: center;
}
.neos-alignment-right {
	float: right;
}
.neos-nodetypes-image {
	margin-bottom: rs($basic-spacing, $unit: rem);
}
.neos-neosio-youtube > .flexibleEmbed {
	max-width: 50em;
	margin: 0 auto;

	//
	// Device stage media nodes should always cover the whole screen.
	//
	.deviceStage__device & {
		max-width: none;
	}
}


.neos-backend {
	.mOnly {
		display: block !important;
	}

	.lOnly {
		display: block !important;
	}

	.ml {
		display: block !important;
	}
}