-
  name: 'RSS Feed'
  uriPattern: '{node}/rss.xml'
  defaults:
    '@package': 'Neos.Neos'
    '@controller': 'Frontend\Node'
    '@action': 'show'
    '@format': 'xml'
  routeParts:
    'node':
      handler: 'Neos\Neos\FrontendRouting\FrontendNodeRoutePartHandlerInterface'
      options:
        onlyMatchSiteNodes: TRUE
-
  name: 'RSS Feed'
  uriPattern: '{node}rss.xml'
  defaults:
    '@package': 'Neos.Neos'
    '@controller': 'Frontend\Node'
    '@action': 'show'
    '@format': 'xml'
  routeParts:
    'node':
      handler: 'Neos\Neos\FrontendRouting\FrontendNodeRoutePartHandlerInterface'
      options:
        onlyMatchSiteNodes: TRUE
-
  name: 'Listable'
  uriPattern: '<ListableSubroutes>'
  subRoutes:
    'ListableSubroutes':
      package: 'Flowpack.Listable'
      variables:
        'defaultUriSuffix': '.html'
        'pageSeparator': '~p'
