Neos:
  ContentRepositoryRegistry:
    contentRepositories:
      default:
        contentDimensions:
          language:
            label: Language
            icon: language
            values:
              en:
                label: EN
                specializations:
                  de:
                    label: DE

    nodeMigration:
      transformationFactories:
        FlattenCollection: Neos\NeosIo\ContentRepository\Transformation\FlattenCollectionTransformation

  Neos:
    sites:
      '*':
        contentDimensions:
          # defaultDimensionSpacePoint is used for the homepage (URL /)
          defaultDimensionSpacePoint:
            language: en
          resolver:
            factoryClassName: Neos\Neos\FrontendRouting\DimensionResolution\Resolver\UriPathResolverFactory
            options:
              segments:
                -
                  dimensionIdentifier: language
                  # dimensionValue => uriPathSegment (empty uriPathSegment allowed)
                  dimensionValueMapping:
                    en: ''
                    de: de
