.featureGroup {
  margin: 2em 0;
}

.featureGroup__title {
  font-weight: bold;
  font-size: 1.4em;
  margin: 1em 0;
  color: map-get($brand-colors, primary);
}

.featureGroup__image {
  padding-right: 20px;
  width: 60px;
}

.featureGroup__description {
  margin: 1em 0;
}

.featureGroup__features {
  clear: left;
}