{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace search=Neos\ContentRepository\Search\ViewHelpers}

<div{attributes -> f:format.raw()}>
{searchForm -> f:format.raw()}

<f:if condition="{showResult}">
    <search:widget.paginate widgetId="browse" query="{searchQuery}" as="results" configuration="{configuration}">
        <div class="search-results__metrics">
            {f:translate(id: 'searchShowingResults', package: 'Flowpack.SearchPlugin', arguments: '{0: results.accessibleCount, 1: totalSearchResults}')}
        </div>
        <fusion:render path="searchResultRenderer" context="{searchResults: results}" />
    </search:widget.paginate>
</f:if>
</div>
