.boxAside {
	.main {

		@media (max-width: 979px) and (min-width: 768px) {
			float: left;
			width: 60%;
			padding-right: 20px;
		}

		@media (min-width: 980px) {
			float: left;
			width: 70%;
			padding-right: 20px;
		}
	}

	.aside {

		@media (max-width: 979px) and (min-width: 768px) {
			float: right;
			width: 40%;
		}

		@media (min-width: 980px) {
			float: right;
			width: 30%;
		}
	}
}