/**
 * Table grid:
 * Creates a table like grid which should be used with the utility width classes.
 * Used in the FactsGrid f.e.
 *
 *     @example
 *     <div class="tableGrid">
 *       <div class="tableGrid__item u-w1/2 u-wm1/4">Item 1</div>
 *       <div class="tableGrid__item u-w1/2 u-wm1/4">Item 2</div>
 *       <div class="tableGrid__item u-w1/2 u-wm1/4">Item 3</div>
 *       <div class="tableGrid__item u-w1/2 u-wm1/4">Item 4</div>
 *     </div>
 */
.tableGrid {
	display: block;
	width: 100%;
	padding: 0 $double-spacing+px;
	margin-bottom: $double-spacing+px;
	background: #FFF;
	border-bottom: 1px solid $basic-border-color;
	text-align: center;

	@include u-cf();

	@include mq('medium') {
		display: table;
	}
}
.tableGrid__item {
	display: block;
	float: left;
	padding: $basic-spacing+px 10px;
	color: currentColor;
	cursor: pointer;
	transition: all .3s ease;

	@include mq('medium') {
		display: table-cell;
		float: none;
		border-right: 1px solid $basic-border-color;

		&:last-child {
			border-right: 0;
		}

		&:first-child:hover {
			background: linear-gradient(to left, rgba(0,0,0,0.05) 75%,rgba(0,0,0,0) 100%);
		}

		&:last-child:hover {
			background: linear-gradient(to right, rgba(0,0,0,0.05) 75%,rgba(0,0,0,0) 100%);
		}
	}

	&:hover {
		text-decoration: none;
		background: rgba(#000, .05);
	}
}
