/**
 * Embed a external iframe or media file with a fluid width/height ratio.
 */

/*
 * The base class for all embed containers.
 */
.flexibleEmbed {
	position: relative;
	display: block;
	overflow: hidden;
}

/*
 * The class for the embedded content.
 */
.flexibleEmbed__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
 * The class for the desired width/height ratio. Default ratio is 1:1.
 */
.flexibleEmbed__ratio {
	display: block;
	width: 100%;
	padding-bottom: 100%;
}

.flexibleEmbed__ratio--16#{\/}9 {
	padding-bottom: 56.25%;
}

.flexibleEmbed__ratio--3#{\/}1 {
	padding-bottom: 33.333%
}

.flexibleEmbed__ratio--2#{\/}1 {
	padding-bottom: 50%;
}

.flexibleEmbed__ratio--4#{\/}3 {
	padding-bottom: 75%;
}