/**
 * Flexible Embed:
 * Embed a external iframe or media file with a fluid width/height ratio.
 * Default is a 1:1 ratio, but you can use f.e. the 16:9 ratio as seen in this example.
 *
 *     @example
 *     <div class="flexibleEmbed">
 *       <iframe class="flexibleEmbed__content" src="https://www.youtube.com/embed/1eLtsKBkVzg" allowfullscreen="" frameborder="0"></iframe>
 *       <div class="flexibleEmbed__ratio flexibleEmbed__ratio--16/9"></div>
 *     </div>
 */
.flexibleEmbed {
	position: relative;
	display: block;
	overflow: hidden;
}
.flexibleEmbed__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.flexibleEmbed__ratio {
	display: block;
	width: 100%;
	padding-bottom: 100%;
}
.flexibleEmbed__ratio--16#{\/}9 {
	padding-bottom: 56.25%;
}
