$grid-gutter: $column-gutter / 2;

/**
 * Grid:
 * Flexible and responsive grid based on the utility width classes.
 *
 *     @example
 *     <div class="g">
 *       <div class="gi u-w1/1 u-wm1/2 u-wl1/4">
 *         column 1
 *       </div>
 *       <div class="gi u-w1/1 u-wm1/2 u-wl1/4">
 *         column 2
 *       </div>
 *       <div class="gi u-w1/1 u-wm1/2 u-wl1/4">
 *         column 3
 *       </div>
 *       <div class="gi u-w1/1 u-wm1/2 u-wl1/4">
 *         column 4
 *       </div>
 *     </div>
 */
.g,
.grid {
	margin-left: -#{$grid-gutter};
	margin-right: -#{$grid-gutter};

	@include u-cf();
}
.gi,
.grid__item {
	float: $start;
	padding-left: $grid-gutter;
	padding-right: $grid-gutter;
}

//
// Adjustment for the FourColumn grid element to prevent unwanted
// float clears due to different content heights.
//
.u-w1\/1.u-wm6\/12.u-wl3\/12.neos-contentcollection:nth-child(odd) {
	@include screen(650, 1200) {
		clear: both;
	}
}
