/**
 * Grids
 */

$grid-gutter: $column-gutter / 2;

/*
 * Grid object which is based on the util width classes.
 */
.g,
.grid {
	margin-left: -#{$grid-gutter};
	margin-right: -#{$grid-gutter};

	@include u-cf();
}

/*
 * Grid item, floats itself into the grid and depends on the u-w#/# util classes.
 */
.gi,
.grid__item {
	float: $start;
	padding-left: $grid-gutter;
	padding-right: $grid-gutter;
}
