/**
 * Headline Slider:
 * Substitutes through the given words/sentences with a fine grained word-replace logic.
 *
 *     @example
 *     <div data-component="SentenceSwitcher" class="headlineSlider h2"
 *          data-wordClassName="headlineSlider__word"
 *          data-sentenceSelector="span"
 *          data-animatingWordClassName="headlineSlider__word--isAnimating">
 *       <span>This is a test</span>
 *       <span>This is another test</span>
 *       <span>This is yet another test</span>
 *       <span>This test is getting out hand</span>
 *     </div>
 */
.headlineSlider {
	color: currentColor;
}
.headlineSlider__word {
	display: inline-block;
	opacity: 1;
	transition: all .5s ease;
	white-space: nowrap; // Crucially important; otherwise text with dashes or others does not work.
}
.headlineSlider__word--isAnimating {
	opacity: 0;
}
