/**
 * Navigations
 */

/*
 * Throws a list into horizontal mode.
 */
.nav {
	@include u-resetList();

	> li {
		display: inline-block;

		> a {
			display: block;
			
			@include u-linkReset();
		}
	}
}

/*
 * Throws a list into vertical mode.
 */
.nav--stacked {
	> li {
		display: list-item;
	}
}

/*
 * Forces a list to occupy 100% of the available width of it's parent.
 */
.nav--fit {
	display: table;
	width: 100%;
	
	> li {
		display: table-cell;
	}
}
