/**
 * Navigations
 */

/*
 * Throws a list into horizontal mode.
 */
.nav {
	@include u-resetList();

	> li {
		display: inline-block;

		> a {
			display: block;
			transition: all .3s ease;

			@include u-linkReset();
		}
	}
}

/*
 * Throws a list into vertical mode.
 */
.nav--stacked {
	> li {
		display: list-item;
	}
}

/*
 * Forces a list to occupy 100% of the available width of it's parent.
 */
.nav--fit {
	display: table;
	width: 100%;

	> li {
		display: table-cell;
	}
}

.nav--breadcrumb {
	font-size: rs(14);
	line-height: $basic-spacing+px;
	padding: $half-spacing+px $double-spacing+px;

	> li {
		&:first-child {
			font-weight: $bold;
		}

		&:after {
			content: ' » ';
			padding: 0 3px;
			font-weight: $regular;
		}
		&:last-child:after {
			display: none;
		}

		> a {
			display: inline-block;

			&:hover {
				color: brand('primary');
			}
		}
	}
}
