/**
 * Table:
 * Base class for all tables.
 *
 *     @example
 *     <table class="table">
 *       <thead>
 *         <tr>
 *           <th>Name</th>
 *           <th>Age</th>
 *           <th>Residence</th>
 *         </tr>
 *       </thead>
 *       <tbody>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *       </tbody>
 *     </table>
 */
.table {
	width: 100%;
	margin-bottom: rs($basic-spacing);

	td, th {
		padding: 0.5em;
		font-size: 90%;
	}

	th {
		font-weight: $regular;
	}
}

/**
 * Table (Bordered):
 * Adds a border around the table and in between the rows and cells.
 *
 *     @example
 *     <table class="table table--bordered">
 *       <thead>
 *         <tr>
 *           <th>Name</th>
 *           <th>Age</th>
 *           <th>Residence</th>
 *         </tr>
 *       </thead>
 *       <tbody>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *       </tbody>
 *     </table>
 */
.table--bordered {
	border: 1px solid $basic-border-color;
	border-collapse: separate;
	border-radius: $brand-border-radius;

	td, th {
		border-left: 1px solid $basic-border-color;
		border-bottom: 1px solid $basic-border-color;
		&:first-child {
			border-left: 0;
		}
	}

	tr:last-child > td {
		border-bottom: 0;
	}
}

/**
 * Table (Striped):
 * Adds a border below each row.
 *
 *     @example
 *     <table class="table table--striped">
 *       <thead>
 *         <tr>
 *           <th>Name</th>
 *           <th>Age</th>
 *           <th>Residence</th>
 *         </tr>
 *       </thead>
 *       <tbody>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *       </tbody>
 *     </table>
 */
.table--striped {
	td, th {
		border-bottom: 1px solid $basic-border-color;
	}

	th {
		padding-top: 0;
		box-shadow: 0 1px 0 rgba(231, 231, 236, 0.7), 0 3px 0 rgba(231, 231, 236, 0.3);
	}
}

/**
 * Table (Condensed):
 * Reduces the visual gap between each table row.
 *
 *     @example
 *     <table class="table table--condensed">
 *       <thead>
 *         <tr>
 *           <th>Name</th>
 *           <th>Age</th>
 *           <th>Residence</th>
 *         </tr>
 *       </thead>
 *       <tbody>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *       </tbody>
 *     </table>
 */
.table--condensed {
	td, th {
		padding: 0.25em 0.5em 0.25em;
	}
}

/**
 * Table (Zebra):
 * Displays each odd/even row with a changing background to enhance the visual difference between each row element.
 *
 *     @example
 *     <table class="table table--zebra">
 *       <thead>
 *         <tr>
 *           <th>Name</th>
 *           <th>Age</th>
 *           <th>Residence</th>
 *         </tr>
 *       </thead>
 *       <tbody>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *         <tr>
 *           <td>Max Mustermann</td>
 *           <td>20</td>
 *           <td>Berlin</td>
 *         </tr>
 *       </tbody>
 *     </table>
 */
.table--zebra {
	tbody {
		tr:nth-child(even) {
			background: $content-background;
		}

		tr:nth-child(odd) {
			background: color-adjust($content-background, 5%);
		}
	}
}
