.badge-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: $column-gutter;
}

.badge {
  --badge-min-width: 140px;
  --badge-max-width: 186px;

  flex: 1 1 var(--badge-min-width);
  margin: 1rem 0;
  max-width: var(--badge-max-width);

  p {
    margin-bottom: 0;
  }
}

.badge__description {
  font-size: 90%;
  margin: .5rem 0;
  text-align: center;
}

.badge--highlighted {
  max-width: calc(var(--badge-max-width) * 1.15);
}
