.neos-neosio-badgegrid {
  .neos-contentcollection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.badge {
  $badge-min-width: 140px;
  $badge-max-width: 186px;

  flex: 1 1 $badge-min-width;
  margin: 1rem 0;
  max-width: $badge-max-width;

  .btn__content {
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;
  }

  p {
    margin-bottom: 0;
  }
}

.badge__description {
  font-size: 90%;
  margin: .5rem 0;
  text-align: center;
}

.badge--highlighted {
  img {
    transform-origin: bottom;
    transform: scale(1.15);
  }
}
