{namespace neos=Neos\Neos\ViewHelpers}
{namespace marketplace=Neos\MarketPlace\ViewHelpers}

<article{attributes -> f:format.raw()}>
    <header>
        {metrics -> f:format.raw()}
        <h4 class="result-list__title"><neos:link.node node="{node}">
            <i class="fa fa-puzzle-piece"></i> {title}</neos:link.node>
            <small>{lastVersionLabel}</small>
        </h4>
    </header>
    <f:if condition="{description}">
        <div class="result-list__description">{description}</div>
    </f:if>
    <footer class="result-list__meta">
        {lastActivity -> f:format.raw()}
    </footer>
</article>
