{namespace neos=Neos\Neos\ViewHelpers}
{namespace io=Neos\NeosIo\ViewHelpers}

<f:if condition="{alignment} == 'inline'">
	<f:then>
		<f:render section="button" arguments="{_all}" />
	</f:then>
	<f:else>
		<div class="u-align{alignment}">
			<f:render section="button" arguments="{_all}" />
		</div>
	</f:else>
</f:if>

<f:section name="button">
	<f:if condition="{scrollToContentWhenClicked}">
		<f:then>
			<div class="btn {style}" {f:if(condition: '{neos:rendering.inBackend()}', else: 'data-component="ScrollTo" data-targetSelector="#mainContent"')}>
				<f:render section="buttonInner" arguments="{_all}" />
			</div>
		</f:then>
		<f:else>
			<io:link.external
				uri="{link}"
				openInNewTab="{openInNewTab}"
				noLinkWhen="{neos:rendering.inBackend()}"
				class="btn {style}"
				>
				<f:render section="buttonInner" arguments="{_all}" />
			</io:link.external>
		</f:else>
	</f:if>
</f:section>

<f:section name="buttonInner">
    <span class="btn__content">
        <f:if condition="{neos:rendering.inBackend()}">
            <!-- Hint: Buttons might still contain links (old content); and this breaks the element in the frontend -- that is why we need to strip tags in FE. -->
            <f:then>
                <neos:contentElement.editable property="buttonLabel" tag="span" />
            </f:then>
            <f:else>
                {buttonLabel -> f:format.stripTags()}
            </f:else>
        </f:if>
    </span>
</f:section>
