{namespace neos=Neos\Neos\ViewHelpers}

<f:if condition="{alignment} == 'inline'">
	<f:then>
		<f:render section="button" arguments="{_all}" />
	</f:then>
	<f:else>
		<div class="u-align{alignment}">
			<f:render section="button" arguments="{_all}" />
		</div>
	</f:else>
</f:if>

<f:section name="button">
	<f:if condition="{neos:rendering.inBackend()}">
		<f:then>
			<div class="btn {style}">
				<neos:contentElement.editable property="buttonLabel" class="btn__content" />
			</div>
		</f:then>
		<f:else>
			<a href="{link}" {f:if(condition:'{openInNewTab}', then:'target="_blank"')} class="btn {style}">
				<div class="btn__content">{buttonLabel -> f:format.stripTags()}</div>
			</a>
		</f:else>
	</f:if>
</f:section>
