{namespace neos=Neos\Neos\ViewHelpers}
{namespace io=Neos\NeosIo\ViewHelpers}

<f:section name="main">
	<f:if condition="{link} != ''">
		<f:then>
			<io:link.external uri="{link}" openInNewTab="{openInNewTab}" noLinkWhen="{neos:rendering.inBackend()}" class="imageTeaser imageTeaser--isLink {className}">
				<f:render section="imageTeaserContent" arguments="{_all}" />
			</io:link.external>
		</f:then>
		<f:else>
			<div class="imageTeaser {className}">
				<f:render section="imageTeaserContent" arguments="{_all}" />
			</div>
		</f:else>
	</f:if>

</f:section>

<f:section name="imageTeaserContent">
	<f:if condition="{image}">
		<f:then>
			{imageTag -> f:format.raw()}
		</f:then>
		<f:else>
			<f:if condition="{fallbackImageUrl}">
				<f:then>
					<img src="{fallbackImageUrl}"
						 alt="{alternativeText}" title="{title}" class="{class}"
						 />
				</f:then>
				<f:else>
					<f:if condition="{neos:rendering.inEditMode()}">
						<img
							class="imageTeaser__image neos-handle"
							src="{f:uri.resource(package: 'Neos.Neos', path: 'Images/dummy-image.svg')}"
							title="Dummy image"
							alt="Dummy image"
						/>
					</f:if>
				</f:else>
			</f:if>
		</f:else>
	</f:if>

	<div class="imageTeaser__contents u-invertText">
		<neos:contentElement.editable property="subTitle" tag="h5" class="imageTeaser__contents__subHeading" />
		<neos:contentElement.editable property="title" tag="h3" class="imageTeaser__contents__heading" />
		<neos:contentElement.editable property="text" class="imageTeaser__contents__text" />
	</div>
</f:section>
