{namespace media=Neos\Media\ViewHelpers}

<section class="
		stage
		{f:if(condition: backgroundColor, then: 'stage--{backgroundColor}' , else: 'stage--bright')}
	">
	<div class="
		stage__contents
		{f:if(condition: isContentTextInverted, then: 'u-invertText')}
		{f:if(condition: isContentExtraPadded, then: 'stage__contents--extraPadding')}
		">
		{contents -> f:format.raw()}
	</div>
	{backgroundImage -> f:format.raw()}
</section>

<f:section name="imageSrcSet">
	<media:uri.image image="{backgroundImage}" maximumWidth="1920" maximumHeight="1000" /> 1920w,
	<media:uri.image image="{backgroundImage}" maximumWidth="1280" maximumHeight="600" /> 1280w,
	<media:uri.image image="{backgroundImage}" maximumWidth="658" maximumHeight="658" allowCropping="1" /> 658w
</f:section>
