{namespace neos=Neos\Neos\ViewHelpers}

<div{attributes -> f:format.raw()}>
	<f:if condition="{video}">
		<f:then>
			<figure class="flexibleEmbed">
				<iframe class="flexibleEmbed__content" src="//www.youtube.com/embed/{video}?wmode=transparent" allowfullscreen="" frameborder="0"></iframe>
				<div class="flexibleEmbed__ratio flexibleEmbed__ratio--16/9"></div>
			</figure>
		</f:then>
		<f:else>
			<f:if condition="{neos:rendering.inBackend()}">
				<div class="box">
					<p>Please specify a video ID</p>
				</div>
			</f:if>
		</f:else>
	</f:if>
</div>
