/*
// import Swiper and modules styles
import 'swiper/css';
import 'swiper/css/navigation';
 */
@import "swiper/swiper.min.css";

.n-carousel.swiper {
  width: 100%;
}

.n-carousel .swiper-slide {
  width: 80%;
}

.n-carousel-nav-button {
  border: var(--color-blue-light) solid 3px;
}
