/* line 14, ../../Private/Scss/print.scss */
body {
  font: Georgia, "Times New Roman", Times, serif;
  color: #000;
}

/* line 19, ../../Private/Scss/print.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
}

/* line 24, ../../Private/Scss/print.scss */
h1 {
  font-size: 250%;
}

/* line 28, ../../Private/Scss/print.scss */
h2 {
  font-size: 175%;
}

/* line 32, ../../Private/Scss/print.scss */
h3 {
  font-size: 135%;
}

/* line 36, ../../Private/Scss/print.scss */
h4 {
  font-size: 100%;
}

/* line 40, ../../Private/Scss/print.scss */
h5 {
  font-size: 100%;
}

/* line 44, ../../Private/Scss/print.scss */
h6 {
  font-size: 90%;
}

/* line 48, ../../Private/Scss/print.scss */
table {
  border: 0 none !important;
}
/* line 51, ../../Private/Scss/print.scss */
table th,
table td {
  border: 1px solid #000 !important;
}

/* line 58, ../../Private/Scss/print.scss */
body {
  width: 100%;
  margin: 0;
  float: none;
  background: #fff url(none);
}

/* line 66, ../../Private/Scss/print.scss */
#header,
#footer {
  display: none;
}

/* line 72, ../../Private/Scss/print.scss */
span[class*=icon-],
.f3-widget-paginator,
#TSFE_ADMIN_PANEL_FORM,
.nav {
  display: none !important;
}

/* line 80, ../../Private/Scss/print.scss */
.collapse,
.tab-content > .tab-pane {
  display: block;
  height: auto;
  visibility: visible;
  margin-bottom: 20px;
}

/* line 89, ../../Private/Scss/print.scss */
a:link:after {
  content: '';
}
