//
// Display utilities
//

/**
 * `u-isBlock`:
 * Sets the display mode of the given node to `block`.
 *
 *     @example
 *     <div>
 *       <span class="u-isBlock">This text should occupy the whole row even though it's a span node.</span>
 *       <span>Lorem ipsum dolor sit...</span>
 *     </div>
 */
@mixin u-isBlock() {
	display: block !important;
}
.u-isBlock {
	@include u-isBlock();
}

/**
 * `u-isHidden`:
 * Hides the given node from both screenreaders and browsers.
 *
 *     @example
 *     <div>
 *       <span class="u-isHidden">This text should not be visible.</span>
 *       <span>Lorem ipsum dolor sit...</span>
 *     </div>
 */
@mixin u-isHidden() {
	display: none !important;
	visibility: hidden;
}
.u-isHidden {
	@include u-isHidden();
}

/**
 * `u-isInvisible`:
 * Hides the given node visually and from screenreaders, but maintains the layout.
 *
 *     @example
 *     <div>
 *       <span class="u-isInvisible">This text should not be visible but should maintain it's layout.</span>
 *       <span>Lorem ipsum dolor sit...</span>
 *     </div>
 */
@mixin u-isInvisible() {
	visibility: hidden;
}
.u-isInvisible {
	@include u-isInvisible();
}

.mOnly {
	@include mq('small') {
		display: block;
	}

	@include mq('medium'){
		display: none;
	}

	@include mq('large'){
		display: none;
	}
}

.lOnly {
	@include mq('small') {
		display: none;
	}

	@include mq('medium'){
		display: block;
	}

	@include mq('large'){
		display: block;
	}
}

.ml {
	@include mq('small') {
		display: block;
	}

	@include mq('medium'){
		display: block;
	}

	@include mq('large'){
		display: block;
	}
}