.btn {
  @include btn();
}

.btn__content {
  display: inline-block;
  width: 100%;
  padding: #{$btn-vertical-padding} #{$btn-horizontal-padding}; // Fallback for IE11
  padding: var(--btn-vertical-padding) var(--btn-horizontal-padding);
  position: relative;
  background: #fff; // Fallback for IE11
  background: var(--btn-fill-color);
  transition: var(--btn-transition);

  .stage--primary &,
  .stage--bright & {
    background: #{brand('secondary')}; // Fallback for IE11
    background: var(--btn-fill-color);
  }
}

.btn--full {
  @include btn--full;
}

.btn--primary {
  @include btn--primary;
}

/**
 * Solid Primary Button:
 * `.btn--solidPrimary` - Sets the button to a solid button which is themed after the primary brand color.
 *
 *     @example
 *     a.btn.btn--solidPrimary My Button
 */
.btn--solidPrimary {
  --btn-fill-color: #{brand('primary')};
  --btn-color: #fff;
  @include btnClippedBorder;

  &:hover {
    --btn-fill-color: #{lighten(brand('primary'), 10)};
  }
}

.btn--secondary {
  @include btn--secondary();
}

/**
 * Solid Secondary Button:
 * `.btn--solidSecondary` - Sets the button to a solid button which is themed after the secondary brand color.
 *
 *     @example
 *     a.btn.btn--solidSecondary My Button
 */
.btn--solidSecondary {
  --btn-fill-color: #{brand('secondary')};
  --btn-color: #fff;

  @include btnClippedBorder;

  &:hover {
    --btn-fill-color: #{lighten(brand('secondary'), 10)};
  }
}

.btn--bright {
  @include btn--bright();
}

.btn--solidBright {
  @include btn--solidBright;
}
