{namespace io=Neos\NeosIo\ViewHelpers}

<div class="references__item gi u-w1/1 u-wm1/2 u-wl1/2{f:if(condition: featured, then: ' references__item--featured')}">
	<f:if condition="{url}">
		<f:then>
			<io:link.external uri="{url}" openInNewTab="true" class="imageTeaser">
				<f:render partial="Reference.List.Item" arguments="{_all}" />
			</io:link.external>
		</f:then>
		<f:else>
			<div class="imageTeaser">
				<f:render partial="Reference.List.Item" arguments="{_all}" />
			</div>
		</f:else>
	</f:if>
</div>
