// ---------------- Styles for global elements like boxes abd containers ---------------- //
// If more styles are needed for a generic element, create an own class for that, i.e. section styling


// -- Generic simple classes -- //

.hidden {
	display: none;
}

.div-clear {
	clear: both;
	width: 100%;
	overflow: hidden;
}

.bg-white {
	background-color: #fff;
}

// To enable links on svg graphics
.link-svg {
	position: relative;
	text-decoration: none;

	&:after {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

// -- Generic classes -- //
div.indent {
	padding-left: 2em;
}

p.align-right,
h2.align-right,
h3.align-right,
h4.align-right,
table.align-right,
ul.align-right,
ol.align-right {
	text-align: right;
}

p.align-center,
h2.align-center,
h3.align-center,
h4.align-center,
table.align-center,
ul.align-center,
ol.align-center {
	text-align: center;
}

p.align-left,
h2.align-left,
h3.align-left,
h4.align-left,
table.align-left,
ul.align-left,
ol.align-left {
	text-align: left;
}
