// ------------ SCSS file for IE8 ------------ //

// This file generated a stylesheet for Internet Explorer 8 only
// and uses sass-ie (http://jakearchibald.github.io/sass-ie/) to
// generate a sensible range of media-queries as plain CSS so
// IE8 may parse them.
//
// Important: This will only work for media-queries that are
// defined via the respond-min and respond-max mixins like
// @include respond-min($screen-sm-min) { ... }
//
// It is also possible to include CSS that will only be generated
// in this file via the old-ie mixin like:
// @include old-ie { ... }


// -- Setup sass-ie -- //

// Prepare sass-ie for outputting IE8 styles
$old-ie: true;

// Load custom variables so they may be used for setting up $fix-mqs
@import "variables";

// $fix-mqs ("fix media-queries") defines which media-queries
// will be generated as plain CSS without a media-query
//
// e.g. $fix-mqs: 960px will generate all media-queries with
// (min-width: 960px) and larger
// as well as
// (max-width: 960px) and lower
//
// Important: the $fix-mqs unit must match the unit used in all
// media-queries (which probably is 'px')!
$fix-mqs: $screen-md-min;

// -- Load the global styles -- //
@import "main";

// -- Additional rules for IE -- //
body {
	min-width: $fix-mqs;
}