// ---------------- Typography based on bootstrap ---------------- //
// This file can be adjusted if needed

@include set-on-all-headings() {
	color: $brand-primary;
	font-family: $font-family-corporate;

	@include sharp-text;
}

h1 {
	font-size: $font-size-h1;

	& + h2 {
		margin-top: -$font-size-small;
	}
}

h2 {
	font-size: $font-size-h2;

	& + h3 {
		margin-top: -$font-size-small;
	}
}

h3 {
	font-size: $font-size-h3;

	& + h4 {
		margin-top: -$font-size-small;
	}
}

h4 {
	font-size: $font-size-h4;
}

a {
	color: $brand-primary;
}

p {
	line-height: 1.6rem;
	@include sharp-text;

	a {
		text-decoration: underline;
	}
}