// ------------ Variables ------------ //
$lightest: #ffffff;
$darkest: #000000;

$blue: #00b5ff;

$brand-primary: $blue;

// -- Typography -- //
$font-family-base: 'Noto Sans', sans-serif;
$font-family-corporate: $font-family-base;
$font-family-serif: Georgia, Times, serif;

$headings-font-family: $font-family-base;
$headings-font-weight: normal;

$font-size-base: 0.8rem;
$font-size-large: 1.2rem;
$font-size-small: 0.6rem;

$font-size-h1: 2rem;
$font-size-h2: 1.8rem;
$font-size-h3: 1.6rem;
$font-size-h4: 1.4rem;

$line-height-base: 1.5;
$headings-line-height: 1.15;

// -- Iconography -- //
//$icon-font: "neos-icons";
//$icon-font-path: "../Fonts/Icons/";
//$icon-pdf-size: 20px;
//$icon-mail-size: 17px;

//$icon-mail: "\e945";


// -- Dimensions -- //
$padding-base-vertical: 12px;
$padding-base-horizontal: $padding-base-vertical;
$padding-small-vertical: $padding-base-vertical / 2;
$padding-small-horizontal: $padding-base-vertical / 2;
$padding-large-vertical: $padding-base-vertical * 2;
$padding-large-horizontal: $padding-base-vertical * 2;

$margin-base-vertical: 30px;
$margin-base-horizontal: 30px;
$margin-small-vertical: 24px;
$margin-small-horizontal: 24px;
$margin-large-vertical: 45px;
$margin-large-horizontal: 45px;

//$nav-height: 38px;

// -- Other -- //
$border-radius-base: 5px;
$border-radius-large: $border-radius-base * 2;
$border-radius-small: 3px;


// -- Transition & animation -- //
$transition-duration-base: .5s;
$transition-duration-fast: .2s;
$transition-duration-slow: .7s;
$transition-easing: ease;
$transition-easing-swift: cubic-bezier(.55, 0, .1, 1);

// -- Missing mediaquery breakpoints -- //
$screen-md: 992px;
$screen-md-min: $screen-md;

$screen-sm-max: ($screen-md-min - 1);
$screen-sm: 768px;
$screen-sm-min: $screen-sm;

$screen-xs-max: ($screen-sm-min - 1);
$screen-xs-min: 481px;

$screen-xxs: 480px;
$screen-xxs-max: ($screen-xs-min - 1);
$screen-xxs-min: ($screen-xxs + 1);

// -- SASS-ie setup -- //
$fix-mqs: false !default;
$old-ie: false !default;