/**
 * Box:
 * Creates a box around the inner contents.
 *
 *     @example
 *     <div class="box">
 *       <h4>Hello world!</h4>
 *       <p>Lorem ipsum dolor sit...</p>
 *     </div>
 */
.box {
	position: relative;
	margin-bottom: $basic-spacing+px;
	padding: $double-spacing+px $basic-spacing+px;
	background: #F0F3F5;

	// Since neos inserts a couple of wrapping DIVs around the default NodeTypes,
	// we reset the bottom spacing for every last child instead of direct ones.
	:last-child {
		margin-bottom: 0;
	}
}

.box__icon {
	position: absolute;
	right: $base-line-height+px;
	top: $base-line-height+px;

	@include mq('small') {
		right: $half-spacing+px;
		top: $half-spacing+px;
	}
}
