.keyVisual__wrapper {
  display: flex;
  flex-direction: column;

  &--small {
    .keyVisual__contents {
      min-height: MIN(250px, 25vw);
    }
  }

  &--default {
    .keyVisual__contents {
      min-height: 350px;
    }
  }

  &--large {
    height: 100vh;

    @include max-screen(992px) {
      height: auto;
    }

    .keyVisual__contents {
      min-height: 400px;

      background-color: rgba(0, 0, 0, 0.5);
      background-blend-mode: darken;
    }
  }
}

.keyVisual {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.html--scrollDisabled .keyVisual {
  z-index: -1;
}

.keyVisual__contents {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  padding: $grid-gutter;
  >.neos-contentcollection {
    max-width: $layout-small-width;
    margin: 0 auto;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: #313131;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    opacity: .2;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
  }

  h1, .h1 {
    font-size: 40px;
    @include mq('medium') {
      font-size: 60px;
    }
  }

  h1, h2, h3,
  h4, h5, h6,
  .h1, .h2, .h3,
  .h4, .h5, .h6 {
    font-weight: 400;
    line-height: 1.2;
  }

  @include mq('small') {
    .u-brandLogo {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
