.keyVisual {
  position: relative;
  display: table;
  width: 100%;
  min-height: 190px;
  overflow: hidden;
  background: #000;

  &--small {
    .keyVisual__contents {
      height: MIN(250px, 25vw);
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.html--scrollDisabled .keyVisual {
  z-index: -1;
}

.keyVisual--large {
  min-height: 400px;
}

.keyVisual__contents {
  position: relative;
  z-index: 2;
  display: table-cell;
  height: 25vw;
  width: 100%;
  vertical-align: middle;
  background-size: cover;
  background-position: center center;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: #313131;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    opacity: .2;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
  }

  h1, .h1 {
    font-size: 40px;
    max-width: 90vw;

    @include mq('medium') {
      font-size: 60px;
    }
  }

  h1, h2, h3,
  h4, h5, h6,
  .h1, .h2, .h3,
  .h4, .h5, .h6 {
    font-weight: 400;
    line-height: 1.2;
  }

  .keyVisual--large & {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
  }

  @include mq('small') {
    .u-brandLogo {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
