.keyVisual {
	position: relative;
	display: table;
	width: 100%;
	min-height: 190px;
	overflow: hidden;
	background: #000;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 20vh;
		background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
	}
}

.html--scrollDisabled .keyVisual {
	z-index: -1;
}

.keyVisual--large & {
	min-height: 400px;
}

.keyVisual__contents {
	position: relative;
	z-index: 2;
	display: table-cell;
	height: 25vw;
	vertical-align: middle;
	background-size: cover;
	background-position: center center;
	width: 100%;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		background: #313131;
		min-width: 100%;
		min-height: 100%;
		max-width: none;
		max-height: none;
		opacity: .2;
		z-index: -1;
		transform: translateX(-50%) translateY(-50%);
	}

	.keyVisual--large & {
		height: 70vh;
	}

	@include mq('small') {
		.u-brandLogo {
			padding-left: 1em;
			padding-right: 1em;
		}
	}
}
