article.post {
.neos-contentcollection {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing)*4);
}
}
.post__footer {
  .nav > li > a {
    color: brand("primary");

    &:hover {
      text-decoration: underline;
    }
  }
}
