.siteFooter {
	padding: $double-spacing+px;
	--stage-background-color: #{brand('secondary')};
	background: #{brand('secondary')};
	font-size: rs(14);

	p a {
		color: currentColor;
	}
	hr {
		background: linear-gradient(to right, rgba(#FFF, 0) 0%, rgba(#FFF, .25) 50%, rgba(#FFF, 0) 100%);
	}

	@include mq('small') {
		.gi {
			text-align: center;
			margin-bottom: 2em;
		}
	}

	> :last-child {
		margin-bottom: 0;
	}

	&__contribution {
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}

  &__heading {
    margin-bottom: ($half-spacing / 2)+px;
  }

  &__nav {
    line-height: $basic-spacing+px;
    color: lighten(brand('secondary'), 60%);

    a:hover {
      color: #FFF;
    }
  }

  &__nav-wrapper {
    display: flex;
    gap: 2rem 8rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto 2rem;
    justify-content: center;

    > * {
      flex: 1 1 auto;

      @media (min-width: 600px) {
        flex: 0 1 auto;
      }
    }
  }

  &__nl-signup {
    display: flex;
    align-content: end;
    gap: $column-gutter;
    flex-wrap: wrap;
    max-width: 600px;
    margin:  0 auto;
    justify-content: center;
    legend {
      @include h5;
      @include u-invertText;
      text-align: center;
      width: 100%;
      flex: 0 0 auto;
      border: none;
      margin: 0;
    }
    .input-wrapper {
      margin: 0;
      flex-grow: 1;
      @media (max-width: 441px) {
        width: 100%;
      }
      input {
        margin: 0;
        padding: 0.5rem 1rem ;
        min-height: 2.75rem;
        width: 100%;
      }
    }
    .btn {
      flex: 0 0 auto;
    }
  }
}
