.siteHeader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: z('siteHeader');
	width: 100%;
	min-width: $layout-min-width;
	height: $header-height--medium;
	transition: all .5s ease;
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
	color: #FFF;

	@include mq('medium') {
		height: $header-height--medium;
	}
}
.siteHeader--hidden {
	//
	// Currently disabled on smallerThanLarge screens since the opened state for the siteNav
	// is breaking when hiding the siteHeader.
	//
	// Warning: This logic is tightly coupled with the scrollTo JavaScript component
	//
	@media screen and (min-width: 1350px) {
		transform: translateY(-100%);
	}
}
.siteHeader--shaded {
	@media screen and (min-width: 1350px) {
		height: $header-height--fixed;
		background: #{brand('secondary')};
	}
}
.siteHeader__brandLogo {
	position: absolute;
	top: 50%;
	left: 1.5em;
	z-index: 1;
	transform: translateY(-50%);
	width: auto;
	max-width: 200px; // Max-width is needed since IE goes crazy with auto-width svg's.
	height: 30px;
	fill: currentColor;
	transition: all .3s ease;

	@media screen and (min-width: 1350px) {
		left: $double-spacing+px;
		height: 50px;

		.siteHeader--shaded & {
			height: 35px;
		}
	}
}
.siteHeader__navToggler {
	position: absolute;
	top: 50%;
	right: 1.5em;
	z-index: 1;
	transform: translateY(-50%);

	@media screen and (min-width: 1350px) {
		display: none;
		visibility: hidden;

		.eventHeader & {
			display: block;
			visibility: visible;
		}
	}
}
.siteHeader__nav {
	font-weight: $bold;
	font-size: .95em;
	line-height: $basic-spacing+px;

	@media screen and (min-width: 1350px) {
		position: absolute;
		top: 50%;
		right: 3em;
		transform: translateY(-50%);

		.eventHeader & {
			position: relative;
			top: auto;
			right: auto;
			transform: none;
		}
	}

	> li {
		position: relative;

		@media screen and (min-width: 1350px) {
			display: inline-block;
			margin-left: $double-spacing+px;

			.eventHeader & {
				margin-left: 0;
			}

			> a {
				padding: 5px 0;
			}
		}
	}
}
.siteHeader__dropDownNav {
	@media screen and (min-width: 1350px) {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%) translateY(-10px);
		width: 300px;
		background: #FFF;
		border-radius: 3px;
		padding: 10px 20px;
		font-weight: $regular;
		font-size: 14px;
		opacity: 0;
		transition: all .3s ease;
		pointer-events: none;
		color: $base-text-color;
		box-shadow: 0 0 3px rgba(#000, .2);

		&:after {
			position: absolute;
			top: -10px;
			left: 50%;
			margin-left: -2.5px;
			@include cssArrow(5px, #fff, top);
		}

		li:hover > & {
			opacity: 1;
			transform: translateX(-50%);
			pointer-events: all;
		}

		// Adjust the position for the last item.
		li:last-child > & {
			right: 0;
			left: auto;
			transform: translateY(-10px);

			&:after {
				left: 92%;
			}
		}

		li:last-child:hover > & {
			transform: translateY(0);
		}

		> li {
			> a {
				&:hover {
					color: #{brand('primary')};
				}
			}
		}
	}

	.eventHeader & {
		display: none;
	}
}




.eventHeader {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, transparent 100%);
	height: 150px;

	.siteHeader__navToggler {
		top: 20px;
		transform: translateY(0%);
	}

	.hamburger__line {
		background-color: $headingsColor;
	}
}

.eventKeyVisual {
	.keyVisual__contents {
		img {
			padding: 0 1em;

			@include mq('medium') {
				padding: 0;
			}
		}
	}
}

.event-logo,
.event-logo-signet {
	transform: translateY(0%);
	height: auto;
	top: 20px;

	@include mq('medium') {
		top: 13px;
	}
}

.event-logo {
	max-width: 230px;
}

.event-logo-signet {
	max-width: 20px;

	@include mq('medium') {
		max-width: 47.5px;
	}
}

.eventNav {
	background: #{brand('secondary')};
	text-align: center;

	li {
		margin-left: 20px;

		@include mq('medium') {
			margin-left: 52px;
		}

		& > a {
			display: block;
			padding: 5px 0;
			color: #fff;
		}
	}
}
