.stage {
  --stage-background-color: #000;
  --stage-color: currentColor;

  display: block;
  position: relative;
  background: var(--stage-background-color);
  color: var(--stage-color);
  @include u-linkReset();
}

.stage--bright {
  --stage-background-color: #fff;
}

.stage--dark {
  --stage-background-color: #000;
}

.stage--primary {
  --stage-background-color: #{brand('primary')};

  &-20 {
    --stage-background-color: #{brand('primary-20')};
  }

  &-40 {
    --stage-background-color: #{brand('primary-40')};
  }

  &-60 {
    --stage-background-color: #{brand('primary-60')};
    --stage-color: #fff;
  }

  &-80 {
    --stage-background-color: #{brand('primary-80')};
    --stage-color: #fff;
  }

}
.stage--secondary {
  --stage-background-color: #{brand('secondary')};

  &-20 {
    --stage-background-color: #{brand('secondary-20')};
  }

  &-40 {
    --stage-background-color: #{brand('secondary-40')};
    --stage-color: #fff;
  }

  &-60 {
    --stage-background-color: #{brand('secondary-60')};
    --stage-color: #fff;
  }

  &-80 {
    --stage-background-color: #{brand('secondary-80')};
    --stage-color: #fff;
  }
}

.stage--teritary {
  --stage-background-color: #{brand('teritary')};
}

.stage__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  max-height: none;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity .8s ease, transform 1s ease;

  // In case the whole stage is a link (f.e. in the case study list), adjust it's background to create a minimal hover effect.
  a.stage > & {
    opacity: .4;
  }

  a.stage:hover > & {
    opacity: .7;
    transform: translateX(-50%) translateY(-50%) scale(1.01);
  }

  &.stage__bg--fixed {
    transform: none;
    left: 0;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
  }
}

.stage__bg--shade-20 {
  opacity: .8;
}

.stage__bg--shade-40 {
  opacity: .6;
}

.stage__bg--shade-60 {
  opacity: .4;
}

.stage__bg--shade-80 {
  opacity: .2;
}

.stage__contents {
  display: block;
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem $double-spacing+px;

	@include mq('small') {
		*[style*=center],.u-alignCenter,.neos-alignment-center {
			text-align: left!important;
		}
	}

  > :last-child {
    margin-bottom: 0;
  }

  > h2 {
    text-align: center;
  }

  &--extraPadding {
    padding-top: 25vh;
    padding-bottom: 25vh;
  }

  &--padding-none {
    padding: 0;
  }

  &--small {
    max-width: #{$layout-small-width};
  }

  &--big {
    max-width: 9999px;
  }

  &.stage__contents--full {
    max-width: 100%;
    padding: 3rem 0;
  }

  &.stage__contents--wide {
    max-width: 1800px;
  }

  > h2 {
    margin-bottom: 2rem;
  }

  > .neos-contentcollection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &.u-invertText {
    a {
      color: inherit;
      text-decoration: underline;
      text-underline-offset: 4px;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
