<h1>{title}</h1>
{imageTag -> f:format.raw()}
<ul>
	<f:if condition="{launchDate}"><li><i class="fa fa-rocket"></i> <f:format.date format="d.m.Y">{launchDate}</f:format.date></li></f:if>

	<f:if condition="{projectVolume}">
			<li>
				<i class="fa fa-users"></i>
				<f:if condition="{projectVolume} == 5">
					< 100h
				</f:if>
				<f:if condition="{projectVolume} == 10">
					100 - 499h
				</f:if>
				<f:if condition="{projectVolume} == 15">
					500 - 999h
				</f:if>
				<f:if condition="{projectVolume} == 20">
					1000 - 3000h
				</f:if>
				<f:if condition="{projectVolume} == 25">
					> 3000h
				</f:if>
			</li>
	</f:if>

	<f:if condition="{projectType}"><li><i class="fa fa-industry"></i> {projectType}</li></f:if>
</ul>
</footer>
