@charset "UTF-8";
@viewport {
  width: device-width;
}

//
// Brics - A Starter Sass-Kit which embraces OOCSS, BEM and the Atomic Design-Approach.
// @version 1.3.2
// @see https://inkdpixels.github.io/Brics/
//

// SASS Functions, Mixins and Variables
$fa-font-path: "../../Neos.NeosIo/Assets";
$font-path: "../../Neos.NeosIo/Assets";

@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/_Framework/Index";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Variables";
@import "Variables";

// Utilities
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Utilities/Animations";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Utilities/Brand";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Utilities/Display";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Utilities/Layout";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Utilities/Spacings";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Utilities/Typography";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Utilities/Widths";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Utilities/Neos";

// Atoms
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Alert";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Avatar";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Base";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Button";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/ButtonChoiceLabel";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Code";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Form";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Hamburger";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Heading";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Input";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Label";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Link";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/List";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Media";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Quote";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Ruler";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/ScrollHint";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Table";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Typography";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/Meta";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Atoms/EventCosts";

// Molecules
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/Flag";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/FlexibleEmbed";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/Form";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/Grid";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/Media";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/Navigation";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/Pagination";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/Spinner";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/Table";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/HeadlineSlider";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/Image";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/ImageTeaser";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/FundingBadges";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/ReferencesList.scss";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/BoxAside";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Molecules/Checked";

// Organisms
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Organisms/SiteHeader";
@import "Organisms/SiteHeader";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Organisms/OffCanvas";
@import "Organisms/KeyVisual";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Organisms/Stage";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Organisms/Box";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Organisms/Post";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Organisms/SideBar";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Organisms/SiteFooter";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Organisms/Team";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Organisms/BlueBox";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Organisms/PackageListing";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Organisms/EventStage";
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Organisms/Speaker";
@import "Organisms/Speaker";
@import "Organisms/CountUp";
@import "Organisms/TalkList";
@import "Organisms/Talk";
@import "Organisms/MenuBuyTickets";
@import "Organisms/Schedule";

// Templates
@import "DistributionPackages/Neos.NeosIo/Resources/Private/Scss/Templates/Print";

.neos-neosio-youtube {
  margin-bottom: #{$basic-spacing}px;

  > .flexibleEmbed {
    max-width: 100%;
  }
}
