.top-bar.alternative {
	height: auto;

	@media #{$topbar-media-query} {
		// Fix heights
		line-height: 80px;
	}

	.title-area {
		height: auto;

		@media #{$topbar-media-query} {
			height: 130px;
			margin-left: 10px;
		}

		a {
			margin: 30px 0px 30px 20px;
			display: block;

			@media #{$topbar-media-query} {
				margin: 40px 0px 0px 0px;
			}

			object {
				height: 45px;
			}
		}
	}

	.name {
		height: auto;

		@media #{$topbar-media-query} {
			height: 45px;
		}
	}

	.top-bar-section {
		display: none;

		@media #{$topbar-media-query} {
			display: block;
		}

		ul {
			background: transparent;
			margin-top: 20px;
		}

		li {
			color: $light-gray;
			background: transparent;
			line-height: 1.2em;

			a:not(.button) {
				padding: 0px 15px 11px 15px;
				color: $light-gray;
				font-size: em-calc(14);
				font-family: $body-font-family;
				line-height: em-calc(19);
				display: inline;

				&:hover {
					color: $white;
					background: transparent;
				}
			}

			&.external > a {
				padding-right: 34px;

				&:after {
					@include css-triangle($topbar-dropdown-toggle-size, $topbar-dropdown-toggle-color, $default-float);
					border: solid 6px;
					border-color: $light-gray transparent transparent transparent;
					margin-top: -3.5px;
				}

				&:hover {
					&:after {
						border-color: $orange transparent transparent transparent;
					}
				}
			}

			&:hover {
				a {
					background: transparent;
					color: $white;
				}

				&.external > a {
					&:after {
						border-color: $orange transparent transparent transparent;
					}
				}
			}

			ul {
				position: absolute;
				margin-top: 0px;
				top: 29px;

				li {
					position: relative;
					text-align: right;
					display: block;
					background: $middle-gray;

					&.js-generated {
						display: none;
					}

					a {
						&:not(.button) {
							background: transparent;
							padding: 10px 15px;
							font-size: em-calc(14);
							color: $white;
							display: block;

							&:hover,
							&.active,
							&.current {
								background: $blue;
							}
						}
					}

					li:not(.js-generated) {
						&:nth-child(2):before {
							content: "";
							display: block;
							width: 0;
							height: 0;
							border-left: 100px solid transparent;
							border-right: 100px solid transparent;
							border-bottom: 20px solid $dark-white;
						}
					}
				}
			}
		}
	}

	.toggle-topbar.menu-icon {
		@include radius(em-calc(3));
		background: lighten($light-gray, 40%);
		padding-left: 0;
		padding-right: 8px;

		a {
			 width: 25px;
		}
	}

	&.expanded {
		height: auto;

		.title-area {
			background: none;
		}

		.top-bar-section li a:not(.button) {
			padding: 5px 10px;
			font-size: em-calc(14);
			color: $white;
			border-bottom: 1px solid $white;

			&:hover {
				color: $light-blue;
				text-decoration: none;
				background: lighten($light-gray, 50%);
			}
		}

		.top-bar-section li.has-dropdown {
			> a:not(.button):after {
				content: '>';
				color: $light-blue;
				font-size: em-calc(28);
				margin-top: -0.7em;
				border: none;
				width: auto;
			}
		}

		.top-bar-section li ul li {
			left: 0;
		}

		.top-bar-section li ul li:not(.js-generated):nth-child(2):before {
			border: none;
		}
	}
}