.funding-badges--inner-wrap {
  li > * {
    display: block;
  }
}

.tiles--inner-wrap {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  display: none;

  &.wookmark-initialised  li {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  li {
    background-color: #444;
    border: 1px solid #dedede;
    color: #fff;
    display: block;
    float: left;
    list-style-type: none;
    opacity: 1;
    padding: 10px 10px;
    text-align: center;
    width: 300px;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    &.wookmark-inactive {
      visibility: visible;
      opacity: .2;
      filter: alpha(opacity=20); /* IE 7 and Earlier */
      /* Next 2 lines IE8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);

      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    }

    img {
      display: block;
      height: auto;
      margin-bottom: 10px;
      max-width: 100%;
    }
  }
}

.tiles--filters {
  list-style-type: none;
  text-align: center;
  margin: 0;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  li {
    font-size: 12px;
    float: left;
    padding: 6px 8px 4px;
    cursor: pointer;
    margin: 0 10px;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    &:hover {
      background: #93B7F5;
      color: #ffffff;
    }

    &.active {
      background: #4281f5;
      color: #ffffff;
    }
  }
}
