div#mc_embed_signup {
	form {
		padding-left: 0px;
	}

	label {
		font-size: $h5-font-size;
		color: $white;
	}

	input {
		border: 0px;

		&.email {
			padding: 0.8em 1.5em;
			height: auto;
		}

		&.button {
			background: $middle-blue;
			@include border-radius(0px);
			font-size: 1em;
			padding: 0.8em 1.5em;
			height: auto;
			width: auto;
			line-height: 1em;

			&:hover {
				background: $blue;
			}
		}
	}
}