// Main navigation (.orange .top-bar)
// Load after the top-links topbar!

header {
	position: relative;
}

.navigation .top-bar {
	font-family: $font-share-bold;
	position: static;
	height: 0px;

	@media #{$topbar-media-query} {
		font-family: $font-share;
	}

	ul.title-area {
		background: $darkest-gray;
		position: static;

		@media #{$topbar-media-query} {
			margin-bottom: 10px;
		}
	}

	.top-bar-section {
		li {
			a {
				width: auto;
			}

			@media #{$topbar-media-query} {
				padding: 0px 20px 0px 20px;

				a:not(.button) {
					padding: 0px 10px 0px 10px;
					margin: 0px;
				}

				&:first-child {
					padding-left: 0px;
				}

				&:last-child {
					padding-right: 0px;
				}
			}

			&.has-dropdown {
				&:hover {
					.dropdown {
						display: block;
					}
				}
			}

			&.active,
			&.current {
				> a {
					background: $middle-blue;
					color: $white;
				}
			}
		}

		> ul > li:first-child .dropdown {
			@media #{$topbar-media-query} {
				margin-left: 0px;
			}
		}

		.dropdown {
			margin: 0px;
			font-family: $font-share;

			@media #{$topbar-media-query} {
				margin-left: 20px;
			}

			li {
				padding: 0px;

				&:first-child {
					margin-left: 0px;
				}

				a:not(.button) {
					margin: 0px;
					padding: 10px 10px 10px 10px;
					background: $middle-blue;
					font-size: em-calc(18);

					&:hover {
						background: darken($middle-blue, 10%);
					}
				}

				&.active,
				&.current {
					a:not(.button) {
						background: darken($middle-blue, 10%);
					}
				}
			}
		}
	}

	.toggle-topbar {
		position: absolute;
		left: 0;

		a {
			text-transform: none;
			font-size: em-calc(20);
			font-weight: normal;
			position: relative;
			display: block;
		}

		&.menu-icon {
			position: absolute;
			top: 38px;
			right: 30px;
			left: auto;
			height: 32px;
			width: 32px;
			margin: 0px;
			padding: 0px;

			a {
				text-indent: 0;
				width: 100%;
				height: 100%;
				position: relative;

				span {
					display: block;
					width: 100%;
					height: 100%;
					@include box-shadow(none);
					-webkit-box-shadow: none;
					box-shadow: none;
					font-weight: bold;
					font-size: 1em;
					line-height: 30px;
					@include border-radius(17px);
					@include box-sizing(border-box);
					border: 2px solid $light-blue;
					color: $light-blue;
					text-align: center;

					&:before {
						@extend .neic-menu:before;
						@extend [class^="neic-"]:before;
					}
				}
			}
		}
	}
	&.expanded {
		height: auto;

		.top-bar-section li {
			border-right: 0px;
			padding: 0px 20px;
			background: $light-blue;
		}

		.toggle-topbar a {
			color: $white;
		}

		.top-bar-section ul {
			li {
				&.has-dropdown {
					position: relative;

					> a {
						&:after {
							@extend [class^="neic-"]:before;
							@extend .neic-down:before;
							color: $white;
							position: absolute;
							right: 6px;
							top: 17px;
						}
					}
				}

				&.expanded {
					.dropdown {
						display: block;
						position: static;
					}

					&.has-dropdown {
						> a {
							&:after {
								@extend .neic-up:before;
							}
						}
					}
				}

				ul {
					border-top: 1px solid $white;
					border-color: rgba($white, 0.5);
				}

				li {
					padding: 0px;

					a {
						&:before {
							content: '-';
							padding: 0px 10px 0px 5px;
						}

						&:focus,
						&:active {
							outline: 0;
						}
					}
				}

				> a:not(.button) {
					color: $white;
					background: transparent;
					border-top: 1px solid $white;
					border-color: rgba($white, 0.5);
					padding: 10px 0px 10px;

					&:hover {
						text-decoration: none;
						background: transparent;
					}
				}

				&:first-child {
					> a {
						border: 0px;
					}
				}
			}
		}
	}
}