.subnav {
	width: 100%;
	text-align: center;
	margin: 0px 0px -1.25em 0px;
	padding-top: em-calc(20);
	font-family: $font-share;
	font-size: em-calc(18);

	@media ($not-mobile-nav) {
		padding-top: em-calc(50);
	}

	li {
		display: inline-block;

		a {
			color: $white;
			border-left: 1px solid $white;
			padding: 0px 10px 0px 10px;

			&:hover {
				text-decoration: underline;
			}
		}

		&:first-child {
			a {
				border-left: 0px;
			}
		}

		&.active,
		&.current {
			a {
				text-decoration: none;
				font-weight: normal;
				font-family: $font-share-bold;
			}
		}
	}
}

.top-bar.alternative {
	.top-bar-section {
		li.active,
		li.current {
			a,
			a:not(.button) {
				color: $orange;
				text-decoration: underline;
			}

			li {
				a,
				a:not(.button) {
					color: $dark-gray;
					text-decoration: none;

					&:hover {
						color: $orange;
						text-decoration: underline;
					}
				}

				&.active,
				&.current {
					a,
					a:not(.button) {
						color: $orange;
						text-decoration: underline;
					}
				}
			}
		}
	}
}