{namespace neos=Neos\Neos\ViewHelpers}

<neos:contentElement.wrap>
	<div class="talk">
		<neos:contentElement.editable property="title" tag="h1" />
		<f:if condition="{video}">
			<div class="talk__video">
				{video -> f:format.raw()}
			</div>
		</f:if>
		<div class="talk__details">
			{speakerList -> f:format.raw()}
			<div class="talk__description">
				<neos:contentElement.editable property="text" />
				<ul class="talk__infos">
					<li class="talk__infos__item">{event.properties.title}</li>
					<f:if condition="{talkDate}">
						<li class="talk__infos__item">
							<i class="fa fa-calendar"></i> <f:format.date format="d.m.Y">{talkDate}</f:format.date>
						</li>
						<li class="talk__infos__item">
							<i class="fa fa-clock-o"></i> <f:format.date format="G:i">{talkDate}</f:format.date>
						</li>
					</f:if>
					<f:if condition="{room}">
						<li>{roomName -> f:format.raw()}</li>
					</f:if>
				</ul>
			</div>
		</div>
		<f:if condition="{talkList}">
			<div class="relatedTalks">
				<h2>Related talks</h2>
				{talkList -> f:format.raw()}
			</div>
		</f:if>
	</div>
</neos:contentElement.wrap>