{namespace neos=Neos\Neos\ViewHelpers}

<neos:contentElement.wrap>
	<div class="talk">
		<neos:contentElement.editable property="title" tag="h1" />
		<div class="talk__video">
			{video -> f:format.raw()}
		</div>
		<div class="talk__details">
			<ul class="talk__speakerList">
				{speakerList -> f:format.raw()}
			</ul>
			<div class="talk__description">
				<neos:contentElement.editable property="text" />
				<i class="fa fa-calendar"></i> <f:format.date format="d.m.Y">{talkDate}</f:format.date><br>
				<i class="fa fa-clock-o"></i> <f:format.date format="G:i">{talkDate}</f:format.date>
				<neos:contentElement.editable property="room" />
				<neos:link.node node="{event}"></neos:link.node>
			</div>
		</div>
		<div class="relatedTalks">
			<ul class="talk__talkList">
				{talkList -> f:format.raw()}
			</ul>
		</div>
	</div>
</neos:contentElement.wrap>