.n-background {
  @apply flow-root;
}

.n-background--gradient {
  @apply bg-gradient-to-r gradient-blue text-white;
}

.n-background--brand {
  @apply bg-darkblue text-white;
  --n-fg: var(--color-white);
  --n-bg: var(--color-darkblue);
}

.n-background--accent-purple {
  @apply bg-accent-purple text-white;
  --n-fg: var(--color-white);
  --n-bg: var(--color-accent-purple);
}

.n-background--accent-blue {
  @apply bg-accent-blue text-white;
  --n-fg: var(--color-white);
  --n-bg: var(--color-accent-blue);
}

.n-background--accent-lightblue {
  @apply bg-accent-lightblue text-darkblue;
  --n-fg: var(--color-darkblue);
  --n-bg: var(--color-accent-lightblue);
}

.n-background--accent-green {
  @apply bg-accent-green text-darkblue;
  --n-fg: var(--color-black);
  --n-bg: var(--color-accent-green);
}

.n-background--accent-yellow {
  @apply bg-accent-yellow text-black;
  --n-fg: var(--color-black);
  --n-bg: var(--color-accent-yellow);
}

.n-background--accent-orange {
  @apply bg-accent-orange text-black;
  --n-fg: var(--color-black);
  --n-bg: var(--color-accent-orange);
}

.n-background--accent-red {
  @apply bg-accent-red text-white;
  --n-fg: var(--color-white);
  --n-bg: var(--color-accent-red);
}
