.n-background {
  @apply flow-root;
}

.n-background--gradient {
  @apply bg-gradient-to-r gradient-blue text-white;
}

.n-background--brand {
  @apply bg-darkblue text-white;
}

.n-background--accent-purple {
  @apply bg-accent-purple text-white;
}

.n-background--accent-blue {
  @apply bg-accent-blue text-white;
}

.n-background--accent-lightblue {
  @apply bg-accent-lightblue text-darkblue;
}

.n-background--accent-green {
  @apply bg-accent-green text-darkblue;
}

.n-background--accent-yellow {
  @apply bg-accent-yellow text-black;
}

.n-background--accent-orange {
  @apply bg-accent-orange text-black;
}

.n-background--accent-red {
  @apply bg-accent-red text-white;
}
