/**
 * Code & pre-formatted text elements
 */

code,
kbd,
pre,
samp {
	// Corrects font family set oddly in Safari 5 and Chrome.
	font-family: $mono-font-family;
	font-size: .8em;
}

code {
	background: color-adjust($content-background, 5%);
	padding: .3em .5em;
	border-radius: 2px;

	pre & {
		padding: 0;
	}
}

pre {
	// Improves readability of pre-formatted text in all browsers.
	white-space: pre-wrap;
	margin: 0 0 rs($basic-spacing);
}
