//
// The base class for all headings.
//
@mixin h() {
	margin: 0;
	color: #3b444f;
	font-weight: $bold;

	// Optimized kerning for large font sizes.
	// Use this only on large font-sizes (f.e. headings) to avoid performance issues.
	text-rendering: optimizeLegibility;

	// Adjust the headings color in case it is wrapped in an anchor.
	a & {
		color: currentColor;
	}
}
.h, %h {
	@include h();
}

/**
 * Headings:
 * Each heading has a duplicate class which can be used to style headings differently from the semantic meaning.
 * F.e. if you want your `h3` to look like an `h1`, just apply the `.h1` class to it.
 *
 *      @example
 *     h1 This is an first level heading
 *     h2 This is an second level heading
 *     h3 This is an third level heading
 *     h4 This is an fourth level heading
 *     h5 This is an fifth level heading
 *     h6 This is an sixth level heading
 */
@mixin h1() {
	margin-bottom: $basic-spacing+px;
	font-size: $base-font-size*2px;
	line-height: $base-line-height*2px;
	font-weight: $thin;

	@include mq('medium') {
		font-size: $base-font-size*3px;
		line-height: $base-line-height*3px;
	}

	@extend %h;
}
@mixin h2() {
	margin-top: $half-spacing+px;
	margin-bottom: $half-spacing+px;
	font-size: $base-font-size*1.3px;
	line-height: $base-line-height*1px;
	font-weight: $regular;

	@include mq('medium') {
		font-size: $base-font-size*2px;
		line-height: $base-line-height*2px;
		font-weight: $thin;
	}

	// In case the h2 is a sub-heading align it to the heading before.
	h1 + & {
		margin-top: -($basic-spacing)+px;
		margin-bottom: $basic-spacing+px;
	}

	@extend %h;
}
@mixin h3() {
	margin-bottom: $half-spacing+px;
	font-size: $base-font-size*1.3px;
	line-height: $base-line-height*1px;

	@include mq('medium') {
		font-size: $base-font-size*1.5px;
	}

	@extend %h;
}
@mixin h4() {
	margin-bottom: $basic-spacing*0.25px;
	margin-bottom: $basic-spacing*0.5px;
	font-size: $base-font-size*1.25px;

	@extend %h;
}
@mixin h5() {
	font-size: $base-font-size*1px;
	font-weight: $bold;

	@extend %h;
}
@mixin h6() {
	font-size: $base-font-size*1px;
	font-weight: $bold;

	@extend %h;
}

h1, .h1 {
	@include h1();
}
h2, .h2 {
	@include h2();
}
h3, .h3 {
	@include h3();
}
h4, .h4 {
	@include h4();
}
h5, .h5 {
	@include h5();
}
h6, .h6 {
	@include h6();
}
