.i {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
	fill: currentColor;
}
.i--large {
    width: 60px;
    height: 60px;
}
.i--huge {
    width: 220px;
    height: 220px;
}
.i--padded {
    margin: 3em !important;
}
.i--primary {
    fill: brand('primary');
}
