/*
 * A label which can be placed between two buttons to enhance the relation between them.
 */
.interLabel {
	border-radius: 100%;
	padding: 11px 5px;
	display: block;
	margin: 4px 15px;

	@include mq('medium') {
		display: inline-block;
	}
}
