/**
 * Rulers
 */

hr {
	// Address differences between Firefox and other browsers.
	-moz-box-sizing: content-box;
	box-sizing: content-box;

	display: block;
	height: 0;
	padding: 0;
	margin: rs($basic-spacing * 2) 0 rs($basic-spacing * 2);
	border: 0;
	border-top: 1px $basic-border-style $basic-border-color;
}
