.n-tag {
  @apply inline-block;

  span {
    @apply inline-flex h-9 px-3 bg-darkblue text-white flex flex-col justify-center text-center;
  }

  &:hover span {
    @apply bg-accent-purple;
  }

  span:only-child {
    @apply rounded;
  }

  span:first-child {
    @apply mr-[2px] rounded-tl rounded-bl;
  }

  span:last-child {
    @apply rounded-tr rounded-br;
  }
}
