{namespace neos=Neos\Neos\ViewHelpers}
{namespace marketplace=Neos\MarketPlace\ViewHelpers}

<article{attributes -> f:format.raw()}>
<header>
    <h3>
        <neos:link.node node="{node}">{packageName}</neos:link.node>
    </h3>
</header>
<f:if condition="{isAbandoned}">
    <p>This package is abandoned and no longer maintained. The author suggests using the <strong>{abandoned}</strong> package instead.</p>
    <hr>
</f:if>
<div class="package__meta">
    <i class="fa fa-clock-o"></i> {lastActivity -> marketplace:format.relativeDate()} {metrics -> f:format.raw()}
</div>
</article>
