<f:if condition="{avatarUrl}">
    <div class="lOnly">
        <img class="package__avatar img-responsive" src="{avatarUrl}" alt="{vendorName}">
    </div>
</f:if>
{sourceButton -> f:format.raw()}
<section class="market-nav"
         data-component="ShowMore"
         data-selector="ul">
    <header>
        <h4>Maintainers</h4>
    </header>
    {maintainers -> f:format.raw()}
</section>

{releasedVersionMenu -> f:format.raw()}
{prereleasedVersionMenu -> f:format.raw()}
{developmentVersionMenu -> f:format.raw()}
