@import 'Leaflet';
@import 'Plugins/WebExcess.OpenStreetMap/Resources/Private/Assets/Main';

.service-provider {
  section + section {
    margin-top: 3rem;
  }

  &-collection {
    margin: 3rem 0 5rem;
  }

  &__logo {
    float: right;
    max-width: 300px;
    max-height: 300px;
  }

  &__address {
    margin-bottom: 1rem;
  }

  &__contact {
    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  &__map {
    width: 500px;
    max-width: 100%;
    margin-top: 5rem;
  }

  &__details,
  &__contributions {
    clear: both;
    display: flex;
    flex-wrap: wrap;

    > * {
      flex: 1 1 300px;
    }
  }

  &__badge-wrap {
    display: flex;
    flex-wrap: wrap;

    > * {
      flex: 0 1 auto;
      margin-right: 10px;
    }

    img {
      max-width: 120px;
      height: auto;
    }
  }

  &__services {
    ul {
      margin-top: .5rem;
    }
  }

  &__sponsorships {
    time {
      color: lighten(#656a71, 20%);
    }
  }
}

.service-providers {
  &__list {
    table {
      width: 100%;
    }

    tr {
      border-bottom: 1pt solid #eeeeee;
    }

    tbody tr:last-child {
      border-bottom: none;
    }

    th {
      user-select: none;
      white-space: nowrap;
    }

    th,
    td {
      padding: .4rem 1rem .4rem 0;
    }

    &-entry {
      &__title {
        width: 30%;
      }

      &__location {
        address {
          font-style: normal;
        }
      }

      &__services {

      }

      &__size {

      }
    }
  }

  &__header--sortable {
    cursor: pointer;

    &:hover {
      color: black;
    }
  }
}

.marker-cluster {
  text-align: center;
  padding: .3rem .6rem;
  border-radius: 50%;
  font-size: 20px;
  background-color: #00adee;
  box-shadow: 0px 1px #26224c;
  color: white;
  text-shadow: 0 1px #26224c;
}

.leaflet-popup-content {
  address {
    margin-bottom: 1rem;
  }

  .service-provider-popup__more {
    display: block;
    margin-top: 1rem;
  }
}
