.supporters {
  --supporters-item-width: 10%;
  .headline {
    margin-bottom: 2rem;
    text-align: center;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-inline: -#{$grid-gutter * 1.5};
    margin-bottom: -#{$grid-gutter * 3};
    padding: 0;
    justify-content: center;
  }
  &-item {
    margin: 0 0 #{$grid-gutter * 3};
    width: var(--supporters-item-width);
    padding-inline: #{$grid-gutter * 1.5};
    display: block;
    min-width: 120px;
    .neos-nodetypes-image {
      width: 100%;
      figure {
        width: 100%;
        a {
          display: block;
        }

        img {
          width: 100%;
          height: unset;
          aspect-ratio: 2 / 1;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}
