.quote-clip-path {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0, 100% calc(100% - 3rem), calc(100% - 1.5rem) calc(100% - 3rem), calc(100% - 1.5rem) calc(100% - 1.5rem), calc(100% - 4.5rem) calc(100% - 1.5rem), calc(100% - 4.5rem) 100%, calc(100% - 6rem) 100%, calc(100% - 6rem) calc(100% - 1.5rem), calc(100% - 7.5rem) calc(100% - 1.5rem), calc(100% - 7.5rem) 100%);

  @variant md  {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0, 100% calc(100% - 6rem), calc(100% - 3rem) calc(100% - 6rem), calc(100% - 3rem) calc(100% - 3rem), calc(100% - 9rem) calc(100% - 3rem), calc(100% - 9rem) 100%, calc(100% - 12rem) 100%, calc(100% - 12rem) calc(100% - 3rem), calc(100% - 15rem) calc(100% - 3rem), calc(100% - 15rem) 100%);
  }
}
