@import "tailwindcss" source(none);
@import "./Styles/Animations.pcss";
@import "./Styles/Base.pcss";
@import "./Styles/Colors.pcss";
@import "./Styles/Counter.pcss";
@import "./Styles/Font.pcss";
@import "./Styles/Hocus.pcss";
@import "./Styles/Typography.pcss";
@import "../Fusion/**/*.pcss";
@config "#tailwindConfig";
