.list-preview {

  list-style-type: none;
  counter-reset: li;

  & li {
    counter-increment: li;
  }

  & a:before {
    @apply w-3/12;
    content: "#" counter(li, decimal-leading-zero);
  }


  @screen md {
    li:hover::before {
      @apply md:translate-x-8;
    }

    li:before {
      @apply flex w-2/12 text-2xl order-2 md:order-1 md:py-10 transition-transform;

      content: "#" counter(li, decimal-leading-zero);
    }

    a:before {
      content: unset;
    }

  }
}
