<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<body>
<f:section name="body">
	<f:render partial="SiteHeader.html" arguments="{_all}" />
	{namespace media=Neos\Media\ViewHelpers}

	<section class="keyVisual keyVisual--large eventKeyVisual">
		<div class="eventVisual
	keyVisual__contents
	u-alignCenter
	{f:if(condition: isKeyVisualContentsInverted, then: 'u-invertText')}
	"
				data-component="ProgressiveImage"
				data-isInline="true"
		<f:if condition="{keyVisualImage}">
			<f:then>
				data-src="{media:uri.image(image: keyVisualImage, maximumWidth: 1500, maximumHeight: 1500)}"
				data-srcSet="{keyVisualImageSrcSet}"
				style="background-image: url('{media:uri.image(image: keyVisualImage, maximumWidth: 5, maximumHeight: 5)}')"
			</f:then>
			<f:else>
				<f:if condition="large">
					<f:then>
						data-src="{f:uri.resource(path: 'Images/DefaultKeyvisual-1500w.jpg', package: 'Neos.NeosIo')}"
						data-srcSet="
						{f:uri.resource(path: 'Images/DefaultKeyvisual-1920w.jpg', package: 'Neos.NeosIo')} 1920w,
						{f:uri.resource(path: 'Images/DefaultKeyvisual-1280w.jpg', package: 'Neos.NeosIo')} 1280w,
						{f:uri.resource(path: 'Images/DefaultKeyvisual-658w.jpg', package: 'Neos.NeosIo')} 658w,
						{f:uri.resource(path: 'Images/DefaultKeyvisual-280w.jpg', package: 'Neos.NeosIo')} 280w
						"
						style="background-image: url('{f:uri.resource(path: 'Images/DefaultKeyvisual-5w.jpg', package: 'Neos.NeosIo')}')"
					</f:then>
					<f:else>
						data-src="{f:uri.resource(path: 'Images/DefaultSmallKeyvisual-1500w.jpg', package: 'Neos.NeosIo')}"
						data-srcSet="
						{f:uri.resource(path: 'Images/DefaultSmallKeyvisual-1920w.jpg', package: 'Neos.NeosIo')} 1920w,
						{f:uri.resource(path: 'Images/DefaultSmallKeyvisual-1280w.jpg', package: 'Neos.NeosIo')} 1280w,
						{f:uri.resource(path: 'Images/DefaultSmallKeyvisual-658w.jpg', package: 'Neos.NeosIo')} 658w,
						{f:uri.resource(path: 'Images/DefaultSmallKeyvisual-280w.jpg', package: 'Neos.NeosIo')} 280w
						"
						style="background-image: url('{f:uri.resource(path: 'Images/DefaultSmallKeyvisual-5w.jpg', package: 'Neos.NeosIo')}')"
					</f:else>
				</f:if>
			</f:else>
		</f:if>
		>
			<div class="milky"></div>
			<f:if condition="{logo}">
				<media:image
						class="conferenceLogo"
						image="{logo}"
						title="{homepage.properties.title}"
						alt="{homepage.properties.title}"
						allowUpScaling="false"
						/>
			</f:if>

			<f:if condition="{startDate}">
				<p class="u-mt1/1">
					<f:if condition="{city}">
						<span class="h1">{city} <f:format.date format="o">{startDate}</f:format.date></span><br />
					</f:if>
					<span class="h1"><f:format.date format="F, jS">{startDate}</f:format.date></span>
					<f:if condition="{endDate}">
						<span class="h1"> - <f:format.date format="F, jS">{endDate}</f:format.date></span>
					</f:if>
				</p>
			</f:if>
			<f:if condition="{twitterHashTag}">
				<p class="h3">{twitterHashTag}</p>
			</f:if>
			{content.keyVisual -> f:format.raw()}
		</div>
		<a
				data-component="ScrollTo"
				href="#mainContent"
				data-targetSelector="#mainContent"
				class="scrollHint"></a>
	</section>


	<f:section name="imageSrcSet">
		<f:if condition="{keyVisualImage}">
			<media:uri.image image="{keyVisualImage}" maximumWidth="1920" maximumHeight="1600" /> 1920w,
			<media:uri.image image="{keyVisualImage}" maximumWidth="1280" maximumHeight="1000" /> 1280w,
			<media:uri.image image="{keyVisualImage}" maximumWidth="658" maximumHeight="658" allowCropping="1" /> 658w,
			<media:uri.image image="{keyVisualImage}" maximumWidth="400" maximumHeight="400" allowCropping="1" /> 280w
		</f:if>
	</f:section>
	<nav>{parts.eventNav -> f:format.raw()}</nav>


	<main class="content" role="main" id="mainContent">
		{content.main -> f:format.raw()}
	</main>

	<f:render partial="SiteFooter.html" arguments="{_all}" />
</f:section>
</body>
</html>
