
// Hide "Buy" entry in main menu on small screens, as button is visible.
@media screen and (max-width: 1350px) {
  .menuBuyTickets--inMainMenu {
    display: none !important;
  }
}

// "Buy" entry on small screens
.siteHeader__buyTickets {
  position: absolute;
  top: 50%;
  right: 5em;
  z-index: 1;
  transform: translateY(-50%);

  @media screen and (min-width: 1350px) {
    display: none;
    visibility: hidden;

    .eventHeader & {
      display: block;
      visibility: visible;
    }
  }
}
