$dayHighlightColor: lighten(map-get($brand-colors, primary), 15);
$roomHighlightColor: map-get($brand-colors, primary);
$containerWidth: 680px;

.schedule {
  margin-left: auto;
  margin-right: auto;

  .conferenceDayTitle {
    text-align: center;
  }

  .conferenceDaySubtitle {
    text-align: center;
  }

  .talks {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }

  .room-header {
    text-align: center;
    border-bottom: 2px solid transparent;
    border-color: $roomHighlightColor;
    font-weight: bold;
    height: 55px;
    line-height: 55px;
  }

  .talk__roomSmallDevice {
    display: none;
  }

  .talk {
    /** Two Room Variant */
    &--room0.talk--totalRooms2 {
      grid-column: 1 / 2;
    }

    &--room1.talk--totalRooms2 {
      grid-column: 2 / 3;
    }

    &--fullWidthBecauseNoRoom.talk--totalRooms2 {
      grid-column: 1 / 3;
    }

    /** One Room Variant */
    &--room0.talk--totalRooms1 {
      grid-column: 1 / 3;
    }

    &--fullWidthBecauseNoRoom.talk--totalRooms1 {
      grid-column: 1 / 3;
    }

    /** General Settings */
    &--fullWidthBecauseNoRoom {
      .talk__header {
        min-height: 52px;
      }

      .talk__title {
        font-style: italic;
      }
    }

    &__header {
      display: flex;
      cursor: pointer;
      align-items: center;

      @include mq("small") {
        flex-wrap: wrap;
      }

      h4 {
        margin-bottom: 0;
      }
    }

    &.visible {
      display: block;
    }

    &__title {
      flex-grow: 1;
    }

    &__description {
      transition: max-height, 0.5s;
      max-height: 0;
      overflow: hidden;
      margin-top: $basic-spacing + px;

      &.visible {
        max-height: 1000px;
      }
    }

    &__speaker-images {
      width: 100px;
      flex-shrink: 0;
      margin-right: $basic-spacing/2 + px;
    }

    &__speaker-image {
      height: auto;
      border-radius: 50%;
      align-self: flex-start;
    }

    &__time {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-right: $basic-spacing/2 + px;
    }
  }

  .fa {
    margin-right: 6px;
  }

  @media only screen and (max-width: 1100px) {
    .talks {
      display: block;
    }
    .room-header {
      display: none;
    }
    .talk__roomSmallDevice {
      display: block;
      font-size: 16px;
      font-weight: 450 !important;
    }
  }
}
