$dayHighlightColor: lighten(map-get($brand-colors, primary), 15);
$roomHighlightColor: map-get($brand-colors, primary);
$containerWidth: 680px;

.schedule {
  margin-left: auto;
  margin-right: auto;

  .conferenceDayTitle {
    text-align: center;
  }

  .conferenceDaySubtitle {
    text-align: center;
  }

  .talks {

    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: calc(var(--spacing) * 16);
  }

  .talk__roomSmallDevice {
    display: none;
  }

  .talk {
    /** Two Room Variant */
    &--room0.talk--totalRooms2 {
      grid-column: 1 / 2;
    }

    &--room1.talk--totalRooms2 {
      grid-column: 2 / 3;
    }

    &--fullWidthBecauseNoRoom.talk--totalRooms2 {
      grid-column: 1 / 3;
    }

    /** One Room Variant */
    &--room0.talk--totalRooms1 {
      grid-column: 1 / 3;
    }

    &--fullWidthBecauseNoRoom.talk--totalRooms1 {
      grid-column: 1 / 3;
    }

    /** General Settings */
    &--fullWidthBecauseNoRoom {
      .talk__header {
        min-height: 52px;
      }
    }

    &.visible {
      display: block;
    }
  }

  @media only screen and (max-width: 1100px) {
    .talks {
      display: block;
    }
    .room-header {
      display: none;
    }
    .talk__roomSmallDevice {
      display: block;
      font-size: 16px;
      font-weight: 450 !important;
    }
  }
}
