// Add hover and active styling for nav items
.siteHeader__nav {
	li {
		a {
			&:not(.menuBuyTickets) {
				&:hover {
					color: brand('primary');
				}
			}
		}

		&.active {
			> a {
				color: brand('primary');
			}
		}
	}
}

// Fix header dropdown to be above ticket button
.siteHeader__dropDownNav {
	z-index: 1;
}

.siteHeader--shaded {
	+ nav {
		margin-top: 60px;
		transition: margin-top .5s ease;

		@include mq('medium') {
			margin-top: 80px;
		}

		@media all and (min-width: 1350px) {
			margin-top: 55px;
		}
	}
}