.imageTeaser--relatedTalk {
  height: 100%;

  .imageTeaser__image {
    position: relative;
  }

  .imageTeaser__contents {
    padding: 1em;
  }

  .imageTeaser__contents__heading {
    display: inline;
    font-size: 16px;
  }

  .imageTeaser__contents__text {
    display: none;
  }
}

.talk__details {
  display: flex;
  margin-bottom: #{$basic-spacing * 0.5}px;

  @include mq("small") {
    display: block;
  }

  .speaker__speakerList {
    display: block;
    margin: 0;
    flex-basis: #{$base-line-height * 12}px;
    flex-grow: 0;
    flex-shrink: 0;

    @include mq("small") {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      gap: #{$basic-spacing}px;
      margin: 0;
      width: 100%;
    }
  }

  .speaker__speakerList__item {
    padding: 0;

    @media all and (max-width: 441px) {
      margin: 0 auto;
    }
  }
}

.talk__infos {
  padding: 0;
  margin: 0 0 #{$basic-spacing}px;
  list-style: none;

  &__item {
    .fa {
      padding-right: 6px;
    }
  }
}

.talk__description {
  padding-left: #{$basic-spacing}px;

  @include mq("small") {
    display: block;
    padding-left: 0;
  }
}

.talk__video {
  margin-bottom: #{$basic-spacing * 2}px;
}
