.event-list {
  ul {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    margin: 0 0 .8rem;

    h4 {
      margin-bottom: .2rem;
    }

    address {
      display: inline-block;
    }
  }
}
