/**
 * Flag:
 * Displays text like content vertically centered besides an image.
 *
 *     @example
 *     <div class="flag">
 *       <div class="flag__image">
 *         <img src="http://placehold.it/300x200" alt="Media Image">
 *       </div>
 *       <div class="flag__body">
 *         <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
 *         <p>Lorem ipsum dolor sit amet.</p>
 *       </div>
 *     </div>
 */
.flag {
	display: table;
	width: 100%;
}
.flag__body {
	display: table-cell;
	vertical-align: middle;
	width: 100%;

	// Removes the bottom margin of the last element.
	&,
	> :last-child {
		margin-bottom: 0;
	}
}
.flag__image {
	display: table-cell;
	vertical-align: middle;
	padding-right: #{$column-gutter * 2};

	@include mq('small') {
		display: none;
	}

	> img {
		display: block;
		max-width: none;
	}
}

/**
 * Flag (reverted):
 * Displays text like content vertically centered besides an image.
 *
 *     @example
 *     <div class="flag">
 *       <div class="flag__body">
 *         <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
 *         <p>Lorem ipsum dolor sit amet.</p>
 *       </div>
 *       <div class="flag__image flag__image--rev">
 *         <img src="http://placehold.it/300x200" alt="Media Image">
 *       </div>
 *     </div>
 */
.flag__image--rev {
	padding-right: 0;
	padding-left: $column-gutter;
}
