.form--form-builder {

  input[type="text"] {
    width: 50%;
    margin-bottom: .937rem;
  }

  input[type="placeholder"] {
    margin-bottom: .937rem;
  }

  textarea {
    width: 50%;
    margin-bottom: .937rem;
  }

  label {
    margin-top: 1.25rem;
  }

  li, ul {
    list-style-type: none;
  }

  fieldset > .clearfix > .input {
    margin-top: 1.25rem;
  }

  fieldset > .clearfix > .input > .help-inline {
    color: $color-negative;
    display: block;
    font-size: .812rem;
  }

  .form-navigation .next {
      margin-left: -1rem;
      margin-top: 1rem;
  }

  .required {
    color: $color-negative;
  }

}
