$grid-gutter: $column-gutter / 2;

/**
 * Grid:
 * Flexible and responsive grid based on the utility width classes.
 *
 *     @example
 *     <div class="g">
 *       <div class="gi u-w1/1 u-wm1/2 u-wl1/4">
 *         column 1
 *       </div>
 *       <div class="gi u-w1/1 u-wm1/2 u-wl1/4">
 *         column 2
 *       </div>
 *       <div class="gi u-w1/1 u-wm1/2 u-wl1/4">
 *         column 3
 *       </div>
 *       <div class="gi u-w1/1 u-wm1/2 u-wl1/4">
 *         column 4
 *       </div>
 *     </div>
 */
.g {
  margin-left: -#{$grid-gutter};
  margin-right: -#{$grid-gutter};

  @include u-cf();
}

.gi,
.grid__item {
  float: $start;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}

//
// Adjustment for the FourColumn grid element to prevent unwanted
// float clears due to different content heights.
//
.u-w1\/1.u-wm6\/12.u-wl3\/12.neos-contentcollection:nth-child(odd) {
  @include screen(650, 1200) {
    clear: both;
  }
}

//
// General adjustment for full-width grid items on smaller screens.
//
.u-w1\/1.gi {
  margin-bottom: $basic-spacing + px;
}

.grid-layout {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-gap: #{$grid-gutter * 2};

  &--item {
    display: flex;
    flex-direction: column;

    &--more-link {
      margin-top: auto;
    }
  }

  @include mq("medium") {

    // two column layouts
    &.layout--75-25 {
      grid-template-columns: 3fr 1fr;
    }

    &.layout--25-75 {
      grid-template-columns: 1fr 3fr;
    }

    &.layout--50-50,
    &.layout--6-6 {
      grid-template-columns: 1fr 1fr;
    }

    &.layout--66-33,
    &.layout--8-4 {
      grid-template-columns: 2fr 1fr;
    }

    &.layout--33-66,
    &.layout--4-8 {
      grid-template-columns: 1fr 2fr;
    }

    &.layout--12-12 {
      grid-template-columns: 1fr;
    }

    // three column layouts
    &.layout--33-33-33,
    &.layout--4-4-4 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &.layout--50-25-25 {
      grid-template-columns: 2fr 1fr 1fr;
    }

    &.layout--25-50-25 {
      grid-template-columns: 1fr 2fr 1fr;
    }

    &.layout--25-25-50 {
      grid-template-columns: 1fr 1fr 2fr;
    }

    &.layout--12-12-12 {
      grid-template-columns: 1fr;
    }

    &.layout--12-12-12 {
      grid-template-columns: 1fr;
    }

    &.layout--12-6-6,
    &.layout--6-6-12 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.layout--6-6-12 {
      .grid-layout--item:nth-child(2n + 3) {
        grid-column: 1 / 3;
      }
    }

    &.layout--12-6-6 {
      .grid-layout--item:first-child {
        grid-column: 1 / 3;
      }
    }

    // four column layouts
    &.layout--3-3-3-3,
    &.layout--25-25-25-25 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &.layout--6-6-6-6 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.layout--12-12-12-12 {
      grid-template-columns: 1fr;
    }
  }

  // Repsponsive views
  @include mq("large") {
    &.wide-layout--6-6 {
      grid-template-columns: 1fr 1fr;
    }

    &.wide-layout--8-4 {
      grid-template-columns: 2fr 1fr;
    }

    &.wide-layout--4-8 {
      grid-template-columns: 1fr 2fr;
    }

    &.wide-layout--4-4-4 {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &.wide-layout--3-3-3-3 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
