.imageTeaser {
	--image-clip-width: 28px;
	--image-clip-height: 20px;
	position: relative;
	display: block;
	min-height: $base-line-height*12+px;
	margin-bottom: $base-line-height+px;
	overflow: hidden;
	background: #000;

	$clip-path: polygon(var(--image-clip-width) 0px, 0 var(--image-clip-height), 0 100%, calc(100% - var(--image-clip-width)) 100%, 100% calc(100% - var(--image-clip-height)), 100% 0);
	// Autoprefixer doesn't add the required webkit prefix for some reason
	-webkit-clip-path: $clip-path;
	clip-path: $clip-path;

	// Dark hover effect on big screens
	@include min-screen(1025px) {
		&::before {
			background: rgba(0, 0, 0, .2);
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			content: ' ';
			z-index: 1;
			transition: all .2s ease;
		}

		&:hover {
			&::before {
				background: rgba(0, 0, 0, 0);
			}
		}
	}
}

.imageTeaser__image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	object-fit: cover;
}

.imageTeaser__contents {
	background: transparentize(map-get($brand-colors, teritary), 0.8);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	padding: 1.75em 2em;
	width: 100%;
	text-shadow: 1px 1px 2px map-get($brand-colors, secondary);
	-webkit-transform: translateZ(0px);
	backface-visibility: hidden;

	//
	// Neutralize the bottom margin for paragraph elements.
	//
	:last-child {
		margin-bottom: 0;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 150%;
		background: linear-gradient(to bottom, rgba(#000, 0) 0%, rgba(#000, .65) 100%);
	}
}

.imageTeaser__contents__subHeading {
  display: block;
	text-transform: uppercase;
	line-height: 1.8;
  font-weight: $bold;

	@include u-microCopy();
}

.imageTeaser__contents__heading {
	margin-bottom: 0;
	font-weight: 300;
}

// When this is a link, as soon as the link is hovered we animate the headline underline
.imageTeaser--isLink {
	&:hover,
	&:focus {
		.imageTeaser__contents__heading {
			&:after {
				width: 100%;
				transition: width .2s ease;
			}
		}
	}

	.imageTeaser__contents__heading {
		position: relative;
		display: inline-block;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			border-bottom: 1px solid #{brand('primary')};
			height: 1px;
			width: 0;
			left: 0;
			transition: width .2s ease;
		}
	}

}
