.neos-nodetypes-textwithimage,
.neos-nodetypes-image {
  display: flex;
  gap: rs($half-spacing, $unit: rem) rs($basic-spacing, $unit: rem);
  flex-direction: column;
  align-items: start;

  figure {
    --background-color: none;
    --color: currentColor;
    background-color: var(--background-color);
    color: var(--color);
    display: flex;
    flex-direction: column;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    figcaption {
      margin-top: 0.5rem;
      line-height: 1.25;
    }

    &.image--style {
      padding: 1.5rem 2rem;

      --step: 1.5rem;

      @include mq("medium") {
        --step: 2.25rem;
      }

      @include mq("large") {
        --step: 3rem;
      }

      &-pixel-cutout--top-left img {
        clip-path: polygon(
          0 100%, /* bottom left corner */
          0 calc(2 * var(--step)), /* top left corner with 2 steps down */
          var(--step) calc(2 * var(--step)), /* 1 step right */
          var(--step) var(--step), /* 1 step up */
          calc(3 * var(--step)) var(--step), /* 2 steps right */
          calc(3 * var(--step)) 0, /* 1 step up */
          calc(4 * var(--step)) 0, /* 1 step right */
          calc(4 * var(--step)) var(--step), /* 1 step down */
          calc(5 * var(--step)) var(--step), /* 1 step right */
          calc(5 * var(--step)) 0, /* 1 step up */
          100% 0, /* top right corner */
          100% 100% /* bottom right corner */
        );
      }

      &-pixel-cutout--bottom-left img {
        clip-path: polygon(
          0 0, /* top left */
          0 calc(100% - 2 * var(--step)), /* bottom left and 2 steps up */
          var(--step) calc(100% - 2 * var(--step)), /* 1 step right */
          var(--step) calc(100% - var(--step)), /* 1 step down */
          calc(3 * var(--step)) calc(100% - var(--step)), /* 2 steps right */
          calc(3 * var(--step)) 100%, /* 1 step down */
          calc(4 * var(--step)) 100%, /* 1 step right */
          calc(4 * var(--step)) calc(100% - var(--step)), /* 1 step up */
          calc(5 * var(--step)) calc(100% - var(--step)), /* 1 step right */
          calc(5 * var(--step)) 100%, /* 1 step down */
          100% 100%, /* to bottom right corner */
          100% 0 /* to top right corner */
        );
      }

      &-pixel-cutout--bottom-right img {
        clip-path: polygon(
          0 0, /* top left */
          100% 0, /* to top right corner */
          100% calc(100% - 2 * var(--step)), /* bottom right and 2 steps up */
          calc(100% - var(--step)) calc(100% - 2 * var(--step)), /* 1 step left */
          calc(100% - var(--step)) calc(100% - var(--step)), /* 1 step down */
          calc(100% - 3 * var(--step)) calc(100% - var(--step)), /* 2 steps left */
          calc(100% - 3 * var(--step)) 100%, /* 1 step down */
          calc(100% - 4 * var(--step)) 100%, /* 1 step left */
          calc(100% - 4 * var(--step)) calc(100% - var(--step)), /* 1 step up */
          calc(100% - 5 * var(--step)) calc(100% - var(--step)), /* 1 step left */
          calc(100% - 5 * var(--step)) 100%, /* 1 step down */
          0 100% /* to bottom left corner */
        );
      }

      &-pixel-cutout--top-right img {
        clip-path: polygon(
          0 0, /* top left corner */
          0 100%, /* bottom left corner */
          100% 100%, /* bottom right corner */
          100% calc(2 * var(--step)), /* top right corner - 2 steps down */
          calc(100% - var(--step)) calc(2 * var(--step)), /* 1 step left */
          calc(100% - var(--step)) var(--step), /* 1 step up */
          calc(100% - 3 * var(--step)) var(--step), /* 2 steps left */
          calc(100% - 3 * var(--step)) 0, /* 1 step up */
          calc(100% - 4 * var(--step)) 0, /* 1 step left */
          calc(100% - 4 * var(--step)) var(--step), /* 1 step down */
          calc(100% - 5 * var(--step)) var(--step), /* 1 step left */
          calc(100% - 5 * var(--step)) 0, /* 1 step up */
        );
      }

      &-thumbnail {
        text-align: center;
        padding: 0;

        img {
          max-height: 300px;
          max-width: 50%;
        }
      }

      &-primary {
        &-20 {
          --background-color: #{brand('primary-20')};
        }

        &-40 {
          --background-color: #{brand('primary-40')};
        }

        &-60 {
          --background-color: #{brand('primary-60')};
          --color: #fff;
        }

        &-80 {
          --background-color: #{brand('primary-80')};
          --color: #fff;
        }
      }

      &-secondary {
        padding: 1rem;

        &-20 {
          --background-color: #{brand('secondary-20')};
        }

        &-40 {
          --background-color: #{brand('secondary-40')};
          --color: #fff;
        }

        &-60 {
          --background-color: #{brand('secondary-60')};
          --color: #fff;
        }

        &-80 {
          --background-color: #{brand('secondary-80')};
          --color: #fff;
        }
      }
    }
  }
}

.neos-alignment-left {
  flex-direction: row;
}

.neos-alignment-center {
  align-items: center;
}

.neos-alignment-right {
  flex-direction: row-reverse;

  figure {
    justify-content: end;
  }
}

img[data-lightbox]:hover {
  cursor: pointer;
}

body.has-lightbox {
  overflow: hidden;
}
