/**
 * Media:
 * Displays a contents besides an image/video or another media node.
 *
 *     @example
 *     <div class="media">
 *       <img class="media__img" src="http://placehold.it/300x200" alt="Media Image">
 *       <div class="media__content">
 *         <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
 *         <p>Lorem ipsum dolor sit amet.</p>
 *       </div>
 *     </div>
 */
.media {
	display: block;

	@include u-cf();
}
.media__img {
	float: left;
	margin-right: $double-spacing+px;

	> img {
		display: block;
	}
}
.media__body {
	overflow: hidden;
	display: block;

	// Removes the bottom margin of the last element.
	&,
	> :last-child {
		margin-bottom: 0;
	}
}

/**
 * Media (Reverted):
 * Displays a contents besides an image/video or another media node.
 *
 *     @example
 *     <div class="media">
 *       <img class="media__img media__img--rev" src="http://placehold.it/300x200" alt="Media Image">
 *       <div class="media__content">
 *         <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
 *         <p>Lorem ipsum dolor sit amet.</p>
 *       </div>
 *     </div>
 */
.media__img--rev {
	float: right;
	margin-left: $double-spacing+px;
	margin-right: 0;
}

/**
 * Media (Compact):
 * Reduces the visual space between the media and the contents.
 *
 *     @example
 *     <div class="media">
 *       <img class="media__img media__img--compact" src="http://placehold.it/300x200" alt="Media Image">
 *       <div class="media__content">
 *         <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
 *         <p>Lorem ipsum dolor sit amet.</p>
 *       </div>
 *     </div>
 */
.media__img--compact {
	margin-right: $basic-spacing+px;

	&.media__img--rev {
		margin-left: $basic-spacing+px;
		margin-right: 0;
	}
}

/**
 * Media (scaled):
 * Makes the image fill the horizontal space
 *
 *     @example
 *     <div class="media">
 *       <img class="media__img media__img--scaled" src="http://placehold.it/300x200" alt="Media Image">
 *       <div class="media__content">
 *         <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
 *         <p>Lorem ipsum dolor sit amet.</p>
 *       </div>
 *     </div>
 */
.media__img--scaled {
	display: block;
	float: none;
	height: auto;
	width: 100%;
}
