/**
 * Navigation:
 * Resets the styles of an `ul` node and displays all items inline. This is the base class for all navigations.
 *
 *     @example
 *     <nav>
 *       <ul class="nav">
 *         <li><a href="">First nav item</a></li>
 *         <li><a href="">Second nav item</a></li>
 *         <li><a href="">Third nav item</a></li>
 *         <li><a href="">Fourth nav item</a></li>
 *       </ul>
 *     </nav>
 */
.nav {
	@include u-resetList();

	> li {
		display: inline-block;

		> a {
			display: block;
			transition: all .3s ease;

			@include u-linkReset();
		}
	}
}

/**
 * Navigation (Stacked):
 * Sets the visual order of the navigation to vertical.
 *
 *     @example
 *     <nav>
 *       <ul class="nav nav--stacked">
 *         <li><a href="">First nav item</a></li>
 *         <li><a href="">Second nav item</a></li>
 *         <li><a href="">Third nav item</a></li>
 *         <li><a href="">Fourth nav item</a></li>
 *       </ul>
 *     </nav>
 */
.nav--stacked {
	> li {
		display: list-item;
    a {
      line-height: 1.25;
      padding-block: 0.3rem;
    }
	}
}

/**
 * Navigation (Fit parent):
 * Forces the navigation and it's items to occupy 100% of the available width of it's parent.
 *
 *     @example
 *     <nav>
 *       <ul class="nav nav--fit">
 *         <li><a href="">First nav item</a></li>
 *         <li><a href="">Second nav item</a></li>
 *         <li><a href="">Third nav item</a></li>
 *         <li><a href="">Fourth nav item</a></li>
 *       </ul>
 *     </nav>
 */
.nav--fit {
	display: table;
	width: 100%;

	> li {
		display: table-cell;
	}
}

/**
 * Navigation (Bradcrumb):
 *
 *     @example
 *     <nav>
 *       <ul class="nav nav--breadcrumb">
 *         <li><a href="">First nav item</a></li>
 *         <li><a href="">Second nav item</a></li>
 *         <li><a href="">Third nav item</a></li>
 *         <li><a href="">Fourth nav item</a></li>
 *       </ul>
 *     </nav>
 */
.nav--breadcrumb {
	font-size: rs(14);
	line-height: $basic-spacing+px;
	padding: $half-spacing+px $double-spacing+px;

	> li {
		&:first-child {
			font-weight: $bold;
		}

		&:after {
			content: ' » ';
			padding: 0 3px;
			font-weight: $regular;
		}
		&:last-child:after {
			display: none;
		}

		> a {
			display: inline-block;

			&:hover {
				color: #{brand('primary')};
			}
		}
	}
}
.nav--breadcrumb-ingrid {
	@extend .nav--breadcrumb;
	padding: $basic-spacing+px 0;
}

/**
 * Language Switcher Navigation:
 *
 *     @example
 *     <nav>
 *       <ul class="nav nav--language-switcher">
 *         <li><a href="">German</a></li>
 *         <li><a href="">English</a></li>
 *         <li><a href="">Spanish</a></li>
 *       </ul>
 *     </nav>
 */
.nav--language-switcher {
	font-size: rs(14);
	line-height: $basic-spacing+px;
	padding: $basic-spacing+px 0;

	> li {
		&.current {
			font-weight: $bold;
		}

		&:after {
			content: ' | ';
			padding: 0 3px;
			font-weight: $regular;
		}
		&:last-child:after {
			display: none;
		}

		> a {
			display: inline-block;
			text-transform: uppercase;

			&:hover {
				color: #{brand('primary')};
			}
		}
	}
}
