.neos-nodetypes-text {
  li {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a[rel*="external"]:not(.btn) {
    &:after {
      content: '\00a0>';
      display: inline;
    }
  }
}
