@charset "UTF-8";
@viewport {
  width: device-width;
}

@import './Components/_Block';
@import './Components/_Code';
@import './Components/_Metrics';
@import './Components/_Nav';
@import './Components/_Package';
@import './Components/_PackageNav';
@import './Components/_Paginator';
@import './Components/_Readme';
@import './Components/_ResultList';
@import './Components/_SearchForm';
@import './Components/_SearchResult';
@import './Components/_ShowMore';
@import './Components/_Tagline';
@import './Components/_Version';
@import './Components/_VersionNav';
