@charset "UTF-8";
@viewport {
  width: device-width;
}

@import "./Components/Block";
@import "./Components/Code";
@import "./Components/Metrics";
@import "./Components/Nav";
@import "./Components/Package";
@import "./Components/Readme";
@import "./Components/ResultList";
@import "./Components/SearchForm";
@import "./Components/SearchResult";
@import "./Components/ShowMore";
@import "./Components/Tagline";
@import "./Components/Version";
@import "./Components/VersionNav";
