.blueBox {
	box-shadow: 0px 0px 6px rgba(#000, 0.1);

	.callToAction {
		text-align: center;
		margin-top: 40px;
	}
}

.boxHeader {
	background: brand('primary');
	color: #fff;
	padding: 40px 20px;

	h2 {
		color: #fff;
		margin-bottom: 0;
	}

	&.boxHeader {
		padding: 20px;
	}
}

.boxBody {
	background: #fff;
	padding: 20px;

	hr {
		margin: .5em 0 1em 0;
	}

	h4 {
		line-height: 1.2em;
		font-size: 16px;
		margin-bottom: 4px;
	}

	p {
		line-height: 1.3em;
		margin-bottom: 4px;
		font-size: 14px;
	}

	li {
		margin-bottom: 10px;
	}
}