.blueBox {
	box-shadow: 0px 0px 6px rgba(#000, 0.1);
}

.boxHeader {
	background: brand('primary');
	color: #fff;
	padding: 40px 20px;

	h2 {
		color: #fff;
		margin-bottom: 0;
	}
}

.boxBody {
	background: #fff;
	padding: 20px;

	hr {
		margin: .5em 0;
	}
}