.deviceStage {
	position: relative;
	overflow: hidden;
	background: #FFF;
}
.deviceStage__device {
	position: absolute;
	bottom: -270px;
	left: 50%;
	transform: translateX(-50%);
}
.deviceStage__contents {
	padding: $double-spacing+px;
	margin-bottom: 21em;
}
