.deviceStage {
	position: relative;
	overflow: hidden;
	background: #FFF;
}
.deviceStage__device {
	margin: 0 auto -6em;
}
.deviceStage__contents {
	padding: $double-spacing+px;

	> :last-child {
		margin-bottom: 0;
	}
}
