.milky {
	position: absolute;
	top: 0px;
	left:  0px;
	height: 378px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, transparent 100%);
	z-index: 10;
	width: 100%;
}

.eventKeyVisual .keyVisual__contents img.conferenceLogo {
	position: relative;
	z-index: 10;
	padding: 100px 20px 20px 20px;
	max-width: 350px;

	@include mq('medium') {
		padding: 120px 20px 20px 20px;
		max-width: 470px;
	}

	@media (min-width: 980px) {
		max-width: 100%;
	}
}

.eventKeyVisual.keyVisual--large .keyVisual__contents {
	height: auto;
	padding-bottom: 30px;

	@include mq('medium') {
		padding-bottom: 66px;
	}

	p {
		margin-bottom: 0;

		& + p {
			margin-top: 0.7em;

			@include mq('medium') {
				margin-top: 1em;
			}
		}
	}
}