@keyframes keyVisual__arrow {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}

.keyVisual {
	position: relative;
	height: 20vw;
	min-height: 190px;
	overflow: hidden;
	background: #000;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 20vh;
		background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);

	}
}
.keyVisual--large {
	height: 90vh;
	min-height: 600px;

	// Scroll arrow.
	&:after {
		content: '';
		position: absolute;
		bottom: 10px;
		left: 50%;
		height: 32px;
		width: 32px;
		margin-left: -16px;
		background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTcuNDEsOC41OEwxMiwxMy4xN0wxNi41OSw4LjU4TDE4LDEwTDEyLDE2TDYsMTBMNy40MSw4LjU4WiIgLz48L3N2Zz4=);
		background-size: 32px;
		animation: keyVisual__arrow 2s infinite;
	}
}
.keyVisual__bg {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
	min-width: 100%;
	min-height: 100%;
	max-width: none;
	max-height: none;
	opacity: .8;
	transform: translateX(-50%) translateY(-50%);
}
.keyVisual__contents {
	// Vertical centering disabled; CSS transform blur the text since the elements get
	// transformed into a material instead of shapes to enable GPU acceleration.
	position: relative;
	z-index: 2;
	width: 80%;
	margin: 0 auto;
	padding-top: 20vw;
}
