.keyVisual {
	position: relative;
	height: 25vw;
	min-height: 190px;
	overflow: hidden;
	background: #000;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 20vh;
		background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
	}
}
.keyVisual--large {
	height: 90vh;
	min-height: 600px;
}
.keyVisual__bg {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
	min-width: 100%;
	min-height: 100%;
	max-width: none;
	max-height: none;
	opacity: .8;
	transform: translateX(-50%) translateY(-50%);
}
.keyVisual__contents {
	position: relative;
	z-index: 2;

	//
	// Using flexbox for vertical centering, since CSS transforms blur the inner contents, especially text nodes.
	// (Nodes with CSS transforms applied get transformed into a material instead of shapes to enable GPU acceleration,
	// nothing which will change in the future).
	//
	display: flex;
	align-items: center;
	height: 100%;

	.no-flexbox & {
		width: 80%;
		margin: 0 auto;
		padding-top: 10em;
	}

	//
	// Set the correct width for child content collections since flexbox sets the width to it's inline children.
	//
	.neos-contentcollection {
		width: 100%;
	}
}
