//
// Due to the totally different styles of the OffCanvas and regular site navigation,
// we added a seperate file to increase the abstract between both states.
//

@mixin offCanvas {
	$bg: brand('secondary');

	position: fixed;
	top: 0;
	right: 0;
	transform: translateY(-100%);
	width: 100%;
	height: 100%;
	padding: 5em 1.5em 1.5em;
	background: linear-gradient(to bottom, rgba($bg, .75) 0%, rgba($bg, 1) 100%);
	transition: .5s ease opacity;
	opacity: 0;
}
.offCanvas {
	@include mq('smallerThanLarge') {
		@include offCanvas;
	}

	.eventHeader & {
		@include offCanvas;
		opacity: 0;
		padding-top: 9em;
	}
}
@mixin offCanvasVisible {
	transform: translateX(0);
	opacity: 1;
}
.offCanvas--visible {
	@include mq('smallerThanLarge') {
		@include offCanvasVisible;
	}

	.eventHeader & {
		@include offCanvasVisible;
	}
}
@mixin offCanvasNavWrapper {
	height: 100%;
	overflow: hidden;
	transform: translateY(-35px);
	transition: .5s .3s ease all;
}
.offCanvas__navWrapper {
	// Hide the scroll bar, but still be able to scroll.
	@include mq('smallerThanLarge') {
		@include offCanvasNavWrapper;
		opacity: 0;

		.offCanvas--visible & {
			transform: translateY(0);
			opacity: 1;
		}
	}

	.eventHeader & {
		@include offCanvasNavWrapper;
		opacity: 1;
	}
}
@mixin offCanvasNav {
	margin-right: -16px;

	// Enable scrolling inside the navigation.
	overflow-y: scroll;
	height: 100%;

	@include u-cf();
}
.offCanvas__nav {
	@include mq('smallerThanLarge') {
		@include offCanvasNav;
	}

	.eventHeader & {
		@include offCanvasNav;
	}
}

// Additional styles for the first level items.
@mixin offCanvasCategory {
	width: 50%;
	margin-bottom: $basic-spacing+px;
	float: left;

	// Needed, otherwise the 50/50 layout would be broken if lists have different heights.
	&:nth-child(odd) {
		clear: both;
	}

	> a {
		font-size: $base-line-height+px;
		font-weight: $regular;
		margin-top: $half-spacing+px;
		margin-bottom: $half-spacing+px;
	}
}
.offCanvas__category {
	@include mq('smallerThanLarge') {
		@include offCanvasCategory;
	}

	.eventHeader & {
		@include offCanvasCategory;
	}
	@include mq('small') {
		.siteHeader &,
		.eventHeader & {
			width: 100%;
			float: none;
		}
	}
}

// Additional styles for the second level items.
@mixin offCanvasCategoryList {
	font-weight: $light;
}
.offCanvas__categoryList {
	@include mq('smallerThanLarge') {
		@include offCanvasCategoryList;
	}

	.eventHeader & {
		@include offCanvasCategoryList;
	}
}
@mixin offCanvasCategorySeperator {
	max-width: 220px;
	background: linear-gradient(to right, rgba(#FFF, 0) 0%, rgba(#FFF, 0.25) 50%, rgba(#FFF, 0) 100%);
}
.offCanvas__categorySeparator {
	@include mq('smallerThanLarge') {
		@include offCanvasCategorySeperator;
	}

	.eventHeader & {
		@include offCanvasCategorySeperator;
	}
}