.packageDetails {
	.fa-arrow-right,
	.fa-times {
		padding-right: 30px;
	}

	ul.checked {
		margin-bottom: 0;
	}

	.costs {
		padding-top: 25px;
	}

	.boxHeader {
		position: relative;

		small {
			position: absolute;
			right: 15px;
			top: 10px;
			font-style: italic;
		}
	}
}