.post p {
	font-size: $base-font-size*1.125px;
	letter-spacing: .5px;
}

.posts {
	list-style: none;

	@include mq('medium') {
		width: 85%;
	}

	@include mq('large') {
		width: 70%;
	}

	a {
		color: inherit;

		&:hover {
			text-decoration: none;
		}
	}

	p {
		font-size: $base-font-size*1.125px;
		letter-spacing: .5px;
	}

	h2 {
		color: $link-color;
	}
}

.featuredPost {
	color: #fff;

	&:hover {
		text-decoration: none;
	}
}