.siteHeader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: z('siteHeader');
	width: 100%;
	min-width: $layout-min-width;
	height: 60px;
	transition: all .5s ease;
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
	color: #FFF;

	@include mq('medium') {
		height: 80px;
	}
}
.siteHeader--hidden {
	//
	// Currently disabled on smallerThanLarge screens since the opened state for the siteNav
	// is breaking when hiding the siteHeader.
	//
	@include mq('large') {
		transform: translateY(-100%);
	}
}
.siteHeader--shaded {
	@include mq('large') {
		height: 55px;
		background: brand('secondary');
	}
}
.siteHeader__brandLogo {
	position: absolute;
	top: 50%;
	left: 1.5em;
	z-index: 1;
	transform: translateY(-50%);
	width: auto;
	max-width: 200px; // Max-width is needed since IE goes crazy with auto-width svg's.
	height: 30px;
	fill: currentColor;
	transition: all .3s ease;

	@include mq('large') {
		left: $double-spacing+px;
		height: 50px;

		.siteHeader--shaded & {
			height: 35px;
		}
	}
}
.siteHeader__navToggler {
	position: absolute;
	top: 50%;
	right: 1.5em;
	z-index: 1;
	transform: translateY(-50%);

	@include mq('large') {
		display: none;
		visibility: hidden;
	}
}
.siteHeader__nav {
	font-weight: $bold;
	font-size: .95em;
	line-height: $basic-spacing+px;

	@include mq('large') {
		position: absolute;
		top: 50%;
		right: 3em;
		transform: translateY(-50%);
	}

	> li {
		position: relative;

		@include mq('large') {
			display: inline-block;
			margin-left: $double-spacing+px;

			> a {
				padding: 5px 0;
			}
		}
	}
}
.siteHeader__dropDownNav {
	@include mq('large') {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%) translateY(-10px);
		width: 300px;
		background: #FFF;
		border-radius: 3px;
		padding: 10px 20px;
		font-weight: $regular;
		font-size: 14px;
		opacity: 0;
		transition: all .3s ease;
		pointer-events: none;
		color: $base-text-color;
		box-shadow: 0 0 3px rgba(#000, .2);

		&:after {
			position: absolute;
			top: -10px;
			left: 50%;
			margin-left: -2.5px;
			@include cssArrow(5px, #fff, top);
		}

		li:hover > & {
			opacity: 1;
			transform: translateX(-50%);
			pointer-events: all;
		}

		// Adjust the position for the last item.
		li:last-child > & {
			right: 0;
			left: auto;
			transform: translateY(-10px);

			&:after {
				left: 92%;
			}
		}

		li:last-child:hover > & {
			transform: translateY(0);
		}

		> li {
			> a {
				&:hover {
					color: brand('primary');
				}
			}
		}
	}
}
