/**
 * Site Footer
 */

.siteFooter {
	padding: $double-spacing+px;
	background: brand('primary');
	font-size: rs(14);

	p a {
		color: currentColor;
	}
	hr {
		background: linear-gradient(to right, rgba(#FFF, 0) 0%, rgba(#FFF, .25) 50%, rgba(#FFF, 0) 100%);
	}

	@include mq('small') {
		.gi {
			text-align: center;
			margin-bottom: 2em;
		}
	}

	> :last-child {
		margin-bottom: 0;
	}
}
.siteFooter__heading {
	margin-bottom: ($half-spacing / 2)+px;
}
.siteFooter__nav {
	line-height: $basic-spacing+px;
	color: lighten(brand('primary'), 40%);

	a:hover {
		color: #FFF;
	}
}
