.stage {
	--stage-background-color: #000;
	display: block;
	position: relative;
	overflow: hidden;
	background: #000;

	@include u-linkReset();
}
.stage--bright {
	--stage-background-color: #fff;
	background: #FFF;
}
.stage--dark {
	--stage-background-color: #000;
	background: #000;
}
.stage--primary {
	--stage-background-color: brand('primary');
	background: brand('primary');

	a {
		color: #fff;
		text-decoration: underline;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}
.stage--secondary {
	--stage-background-color: brand('secondary');
	background: brand('secondary');
}
.stage--teritary {
	--stage-background-color: brand('teritary');
	background: brand('teritary');
}

.stage__bg {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
	min-width: 100%;
	min-height: 100%;
	max-width: none;
	max-height: none;
	transform: translateX(-50%) translateY(-50%);
	transition: opacity .8s ease, transform 1s ease;

	// In case the whole stage is a link (f.e. in the case study list), adjust it's background to create a minimal hover effect.
	a.stage > & {
		opacity: .4;
	}
	a.stage:hover > & {
		opacity: .7;
		transform: translateX(-50%) translateY(-50%) scale(1.01);
	}
}
.stage__bg--shade-20 {
	opacity: .8;
}
.stage__bg--shade-40 {
	opacity: .6;
}
.stage__bg--shade-60 {
	opacity: .4;
}
.stage__bg--shade-80 {
	opacity: .2;
}
.stage__contents {
	display: block;
	position: relative;
	z-index: 1;
	max-width: 1200px;
	margin: 0 auto;
	padding: 7.5vh $double-spacing+px;

	@include mq('small') {
		*:not(i) {
			text-align: left !important;
		}
	}

	> :last-child {
		margin-bottom: 0;
	}
}
.stage__contents--extraPadding {
	padding-top: 25vh;
	padding-bottom: 25vh;
}
.stage__contents--small {
	max-width: $layout-small-width;
}
