.stage {
	display: block;
	position: relative;
	overflow: hidden;
	background: #000;

	@include u-linkReset();
}
.stage--bright {
	background: #FFF;
}
.stage--primary {
	background: brand('primary');
}
.stage__bg {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
	min-width: 100%;
	min-height: 100%;
	max-width: none;
	max-height: none;
	opacity: .8;
	transform: translateX(-50%) translateY(-50%);
	transition: opacity .8s ease, transform 1s ease;

	// In case the whole stage is a link (f.e. in the case study list), adjust it's background.
	a.stage > & {
		opacity: .2;
	}
	a.stage:hover > & {
		opacity: .3;
		transform: translateX(-50%) translateY(-50%) scale(1.01);
	}
}
.stage__contents {
	display: block;
	position: relative;
	z-index: 1;
	padding: 7.5vw $double-spacing+px;

	> :last-child {
		margin-bottom: 0;
	}
}
.stage__contents--extraPadding {
	padding-top: 25vh;
	padding-bottom: 25vh;
}
