$team-profile-padding: 20px;
$team-profile-min-width: 320px;
$team-profile-border-color: transparentize(lighten(brand('teritary'), 10%), .8);
$team-profile-background: #fcfcfc;

.team-listing__group {
	header > * {
		margin-bottom: 1em;
	}

	&:after {
		content: '';
		clear: both;
		display: table;
	}
}

.team-listing__members {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.team-listing__profile {
	flex: 1 1 $team-profile-min-width;
	margin: ($grid-gutter * 2) 10px;
	position: relative;
	transition: background .6s ease-in;
	box-shadow: inset 0 0 0 2px #fff;
	background: #fff;
	perspective: 800px;

	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		line-height: 1;

		small {
			color: lighten(brand('teritary'), 30%);
			opacity: 0;
			transition: opacity .6s ease-in;
		}
	}

	.gravatar {
		border: 2px solid $team-profile-border-color;
		border-radius: 100%;
		margin: 0 15px 2px 0;
		filter: grayscale(70%);
		transition: all .1s ease-in;
		width: 100px;
		height: 100px;
	}

	a:hover,
	.member-active {
		.gravatar {
			border-color: brand('primary');
			filter: grayscale(0%);
		}
	}

	a:hover,
	.member-active {
		small {
			opacity: 1;
		}
	}

	.member-active {
		border-color: brand('teritary');
		box-shadow: inset 0 0 0 1px $team-profile-border-color;
		border-top-left-radius: 50px;
		background: $team-profile-background;
	}

	&.team-listing-profile--visible {
		z-index: 9999;
	}
}

@keyframes fold-profile {
	0%   {
		opacity: 0;
		transform: rotateX(90deg);
	}
	100% {
		opacity: 1;
		transform: rotateX(0deg);
	}
}

.team-listing-profile {
	transition: all .4s ease-in;
	opacity: 0;
	transform-origin: top;
	position: absolute;
	padding-bottom: 1px;
	margin-top: -2px;
	top: 100%;
	width: 100%;
	font-size: 90%;
	display: none;

	ul {
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		line-height: 1.2em;
		margin: .3em 0 0;

		&:first-child {
			margin-top: 0;
		}
	}

	hr {
		margin: 0 0 .5em;
	}

	.team-listing-profile--visible & {
		animation: fold-profile .4s forwards;
		display: block;
	}
}

.team-listing-profile__inner {
	background: $team-profile-background;
	border: 1px solid $team-profile-border-color;
	border-top: 0;
	border-bottom-right-radius: 20px;
	padding: $team-profile-padding;
	box-shadow: 1px 4px 4px -3px rgba(0, 0, 0, .1);
}
