<!DOCTYPE html>
<html>
<body>
<f:section name="body">
    {parts.siteHeader -> f:format.raw()}

    {content.keyVisual -> f:format.raw()}

    <f:if condition="{parts.eventNav}">
        <nav>{parts.eventNav -> f:format.raw()}</nav>
    </f:if>
    {parts.breadcrumb -> f:format.raw()}
    <div class="stage stage--bright" id="mainContent">
        <div class="stage__contents">
            <div class="g">
                <main class="gi u-w1/1" role="main">
                    <section>
                        {content.main -> f:format.raw()}
                    </section>
                </main>
            </div>
        </div>
    </div>
    {parts.footer -> f:format.raw()}
</f:section>
</body>
</html>
