<!DOCTYPE html>
<html>
<head>
	<f:section name="stylesheets">
		<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,200,200italic,300italic,400,400italic" rel="stylesheet">
		<link href="{f:uri.resource(path: 'Styles/font-awesome.min.css', package: 'Neos.NeosIo')}" rel="stylesheet">
	</f:section>
	<f:section name="headScripts">
		<f:if condition="{neos:rendering.live()}">
			<f:if condition="{googleTagManagerID}">
				<!-- Google Tag Manager -->
				<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
						new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
					j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
					'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','{googleTagManagerID}');</script>
				<!-- End Google Tag Manager -->
			</f:if>
		</f:if>
		<script src="{f:uri.resource(path: 'JavaScript/Modernizr.min.js', package: 'Neos.NeosIo')}"></script>
	</f:section>
</head>
<body>
<f:section name="body">
	<f:if condition="{neos:rendering.live()}">
		<f:if condition="{googleTagManagerID}">
			<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-XXXX"
							  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
		</f:if>
	</f:if>

	<f:render partial="SiteHeader.html" arguments="{_all}" />

	{content.keyVisual -> f:format.raw()}

	<f:if condition="{parts.eventNav}">
		<nav>{parts.eventNav -> f:format.raw()}</nav>
	</f:if>
	<nav>
		{parts.breadcrumb -> f:format.raw()}
	</nav>
	<div class="stage stage--bright" id="mainContent">
		<div class="stage__contents">
			<div class="g">
				<main class="gi u-w1/1" role="main">
					<section>
						{content.main -> f:format.raw()}
					</section>
				</main>
			</div>
		</div>
	</div>

	<f:render partial="SiteFooter.html" arguments="{_all}" />
</f:section>
<f:section name="bodyScripts">
	<script src="{f:uri.resource(path: 'JavaScript/Bundle.min.js', package: 'Neos.NeosIo')}" async></script>
	<f:if condition="{neos:rendering.live()}">
		<f:if condition="{googleAnalyticsTrackingCode}">
			<script>
				<![CDATA[
				(function(i, s, o, g, r, a, m) {
					i['GoogleAnalyticsObject'] = r;
					i[r] = i[r] || function() {
							(i[r].q = i[r].q || []).push(arguments)
						}, i[r].l = 1 * new Date();
					a = s.createElement(o),
						m = s.getElementsByTagName(o)[0];
					a.async = 1;
					a.src = g;
					m.parentNode.insertBefore(a, m)
				})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
				]]>

				ga('create', '{googleAnalyticsTrackingCode}', 'auto');
				ga('send', 'pageview');
			</script>
		</f:if>
	</f:if>
</f:section>
</body>
</html>
