<!DOCTYPE html>
<html>
<body>
<f:section name="body">
	<f:render partial="SiteHeader.html" arguments="{_all}" />

	{content.keyVisual -> f:format.raw()}

	<f:if condition="{parts.eventNav}">
		<nav>{parts.eventNav -> f:format.raw()}</nav>
	</f:if>
	<nav>
		{parts.breadcrumb -> f:format.raw()}
	</nav>
	<div class="stage stage--bright" id="mainContent">
		<div class="stage__contents">
			<div class="g">
				<main class="gi u-w1/1" role="main">
					<section>
						{content.main -> f:format.raw()}
					</section>
				</main>
			</div>
		</div>
	</div>

	<f:render partial="SiteFooter.html" arguments="{_all}" />
</f:section>
</body>
</html>
