.cta-banner-clip-path {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 1.5rem) 100%, calc(100% - 1.5rem) calc(100% - 1.5rem), calc(100% - 4.5rem) calc(100% - 1.5rem), calc(100% - 4.5rem) 100%, calc(100% - 6rem) 100%, calc(100% - 6rem) calc(100% - 1.5rem), calc(100% - 4.5rem) calc(100% - 1.5rem), calc(100% - 4.5rem) calc(100% - 3rem), 0% calc(100% - 3rem));

  @variant md  {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 3rem) 100%, calc(100% - 3rem) calc(100% - 3rem), calc(100% - 9rem) calc(100% - 3rem), calc(100% - 9rem) 100%, calc(100% - 12rem) 100%, calc(100% - 12rem) calc(100% - 3rem), calc(100% - 9rem) calc(100% - 3rem), calc(100% - 9rem) calc(100% - 6rem), 0% calc(100% - 6rem));
  }
}
