/**
This triangle prevents the closing of the flyout when the mouse hovers over other elements.
 */
.itemblocker {
  @apply hidden relative h-20 -mt-spacing-y-small left-0 w-full;
  width: calc(100% + min(40vw, 500px));
  left: calc(-1 * min(20vw, 250px));
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
