// =============================================================================
// Project settings
// =============================================================================
// Reading direction of this project, if set to 'rtl' - texts, labels
// and the grid will be aligned to the right side of the document.
$direction: ltr !default;

// Base directory for all images.
$image-base-path: "../Images/" !default;

// =============================================================================
// Brand related variables
// =============================================================================
// All brand colors, for each of these keys, a utility color-class will be generated.
// f.e. `.u-brandColor-primary { color: #0097d7; }`
$brand-colors: (
  primary: #00adee,
  primary-20: scale-color(#00adee, $lightness: +80%),
  primary-40: scale-color(#00adee, $lightness: +60%),
  primary-60: scale-color(#00adee, $lightness: +40%),
  primary-80: scale-color(#00adee, $lightness: +20%),
  secondary: #26224c,
  secondary-20: scale-color(#26224c, $lightness: +80%),
  secondary-40: scale-color(#26224c, $lightness: +60%),
  secondary-60: scale-color(#26224c, $lightness: +40%),
  secondary-80: scale-color(#26224c, $lightness: +20%),
  teritary: #34363c,
) !default;

// The main brand font-family
$brand-font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// If the CD makes use of rounded corners, use this variable for consistency.
$brand-border-radius: 3px !default;

// =============================================================================
// Base Typesetting
// =============================================================================
// The webfont font-family stack of the project. Each Sass-Map represents a different font-family with it's unique style and weight.
// F.e.
// $webFonts:
// (group: 'ff-din', id: 'condensed-light', font: ('FF-Din W01 Condensed Light', san-serif ), weight: 200, style: normal),
// (group: 'ff-din', id: 'light-italic', font: ('FF-Din W01 Light Italic', san-serif ), weight: 200, style: italic);
// After defining your font-stack, you can access your webfonts via the 'webFont' @mixin.
$webFonts: false;

// Font-family stack variables to standardize the font-setting
$sans-font-family: $brand-font-family !default;
$serif-font-family: Georgia, "Times New Roman", Times, serif !default;
$mono-font-family: Menlo, Monaco, Consolas, "Courier New", monospace !default;

// The font-weights below are used to emphasize written words instead of numbers in your Sass.
$bold: 500 !default;
$regular: 400 !default;
$light: 200 !default;
$thin: 100 !default;

// Base font settings which will be set on the '<body>' element,
// '$base-font-size' and '$base-line-height' are pixel values.
$base-font-size: 16 !default;
$base-line-height: 26 !default;
$base-font-family: $sans-font-family !default;
$base-font-weight: $regular !default;
$base-text-color: #656a71 !default;

$headingsColor: #3b444f;

// Typographic spacings (in pixels), these default values will
// output a basic vertical rythm based on your '$base-line-height'.
$basic-spacing: $base-line-height !default;
$double-spacing: $basic-spacing * 2 !default;
$half-spacing: $basic-spacing / 2 !default;

// =============================================================================
// Layout
// =============================================================================
// Basic layout width (in pixels) - will be set on the '.siteWrapper' class
// The value is wrapped in the relative-size function which converts pixels into em's.
$layout-width: 80% !default;
$layout-min-width: rs(320) !default;
$layout-max-width: rs(1200) !default;
$layout-small-width: 750px;

// If this boolean is set to 'true' the '.siteWrapper' class will be horizontally centered.
$centered-layout: true !default;

// Inner spacing for all grid-items.
$column-gutter: 26px !default;

// The background which will be set on the <body> element.
$body-background: #fff !default;

// Used to generate some colors, this doesn't have any direct effect on
// the .siteContent container or it's background.
$content-background: #fff !default;

$header-height: 60px !default;
$header-height--medium: 80px !default;
$header-height--fixed: 55px !default;


// Z-Index Masterlist, describe your z-index'es here, and use the z() function in your Sass files.
// F.e: z-index: z('myElement');
$zIndexes: (
  siteHeader: 1000,
	disruptor: 900
) !default;

// =============================================================================
// Responsive related variables
// =============================================================================
// Switching this boolean to 'false' will result in fewer width classes,
// generated from the following Sass-Map.
$is-responsive: true !default;

// Breakpoints, each breakpoint is accessible via the mq('myKey') @mixin
// and will output the written rules inside a media-query declaration.
$mq-breakpoints: (
  small: (
    query: "screen and (max-width: 649px)",
    classNameShorthand: "s"
  ),
  medium: (
    query: "screen and (min-width: 650px)",
    classNameShorthand: "m"
  ),
  smallerThanLarge: (
    query: "screen and (max-width: 1249px)"
  ),
  large: (
    query: "screen and (min-width: 1250px)",
    classNameShorthand: "l"
  )
) !default;

// Default unit for media-query mixins(min-screen(), max-screen(), screen()) - it must include a digit e.g.:
// $mq-unit: 1em; or $mq-unit: 1px;
$mq-unit: 1px !default;

// =============================================================================
// Design related variables
// =============================================================================
// Transition duration.
$transition-duration: 0.3s;

// Default color for all anchors and links.
$link-color: map-get($brand-colors, primary) !default;

// Default color for all buttons.
$btn-color: map-get($brand-colors, primary) !default;

// Mood and action colors used on buttons, alerts and other actions.
$color-info: map-get($brand-colors, primary) !default;
$color-positive: #8cd700 !default;
$color-negative: #d75200 !default;

// For certain atoms used colors
$lighter-text: lighten(brand("teritary"), 35%);

// Default styling for horizontal rules and bordered elements like tables.
$basic-border-color: color-adjust($content-background, 10%) !default;
$basic-border-style: solid !default;
