@charset "UTF-8";

@viewport {
  width: device-width;
}

//
// Brics - A Starter Sass-Kit which embraces OOCSS, BEM and the Atomic Design-Approach.
// @version 1.3.2
// @see https://inkdpixels.github.io/Brics/
//

// SASS Functions, Mixins and Variables
@import "_Framework/_Index";
@import "_Variables";

// Utilities
@import "Utilities/_Animations";
@import "Utilities/_Brand";
@import "Utilities/_Display";
@import "Utilities/_Layout";
@import "Utilities/_Spacings";
@import "Utilities/_Typography";
@import "Utilities/_Widths";
@import "Utilities/_Neos";

// Atoms
@import "Atoms/_Alert";
@import "Atoms/_Avatar";
@import "Atoms/_Base";
@import "Atoms/_Button";
@import "Atoms/_ButtonChoiceLabel";
@import "Atoms/_Code";
@import "Atoms/_Form";
@import "Atoms/_Hamburger";
@import "Atoms/_Icon";
@import "Atoms/_Heading";
@import "Atoms/_Input";
@import "Atoms/_Label";
@import "Atoms/_Link";
@import "Atoms/_List";
@import "Atoms/_Media";
@import "Atoms/_Quote";
@import "Atoms/_Ruler";
@import "Atoms/_ScrollHint";
@import "Atoms/_Table";
@import "Atoms/_Typography";
@import "Atoms/_Meta";
@import "Atoms/_EventCosts";

// Molecules
@import "Molecules/_Flag";
@import "Molecules/_FlexibleEmbed";
@import "Molecules/_Form";
@import "Molecules/_Grid";
@import "Molecules/_Image";
@import "Molecules/_Media";
@import "Molecules/_Navigation";
@import "Molecules/_SecondaryMenu";
@import "Molecules/_Pagination";
@import "Molecules/_Spinner";
@import "Molecules/_Table";
@import "Molecules/_HeadlineSlider";
@import "Molecules/_ImageGrid";
@import "Molecules/_ImageTeaser";
@import "Molecules/_FundingBadges";
@import "Molecules/_ReferencesList.scss";
@import "Molecules/_BoxAside";
@import "Molecules/_Checked";
@import "Molecules/_CodeView";
@import "Molecules/_Event";
@import "Molecules/_EventList";
@import "Molecules/_VidoeEmbed";
@import "Molecules/_FormBuilder";
@import "Molecules/_SemanticSection";

// Organisms
@import "Organisms/_SiteHeader";
@import "Organisms/_OffCanvas";
@import "Organisms/_KeyVisual";
@import "Organisms/_DeviceStage";
@import "Organisms/_Stage";
@import "Organisms/_Box";
@import "Organisms/_Post";
@import "Organisms/_SideBar";
@import "Organisms/_SiteFooter";
@import "Organisms/_Team";
@import "Organisms/_BlueBox";
@import "Organisms/_PackageListing";
@import "Organisms/_EventStage";
@import "Organisms/_Speaker";

@import "DistributionPackages/Neos.NeosIo.FeatureList/Resources/Private/Styles/Main";
@import "DistributionPackages/Neos.NeosIo/NodeTypes/Content/TableOfContents/TableOfContents";

// Templates
@import "Templates/_Print";
