/**
 * Funding Badges:
 * Layout for the Funding-Display plugin
 */
.fundingBadges__sortingControls {
  padding-bottom: $basic-spacing+px;
  text-align: center;

}

.fundingBadges__sortingControl {
  @include btn();
  padding-bottom: $basic-spacing+px;
}


.fundingBadges__list {
  column-count: 1;
  -moz-column-count: 1;
  -webkit-column-count: 1;

  @include mq('medium') {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }

  column-gap: 1em;
}

.fundingBadges__singleElement {
  border: 1px solid map-get($brand-colors, primary);
  padding: 20px;
  color: white;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.fundingBadges__singleElement--isInactive {
  opacity: 0.5;
}

.funding-badge--customer-logo-wrap {
  text-align: center;
}

.funding-badge--customer-logo {
  display: block;
  margin-bottom: 1rem;
  max-height: 100px;
  width: auto;
}

.funding-badge--customer-name {
  display: block;
  border-bottom: 1px solid white;
  margin-bottom: .6rem;
  padding-bottom: 3px;
}

.funding-badge--duration {
  &:after {
    content: ": ";
  }
}
