@layer components {
  .n-stage {
    padding-bottom: 26rem;
    background: url("../Assets/Pattern/pattern-pixels.svg"), linear-gradient(to right, #26224c 0%, #0114c2 50%, #26224c 100%);
    background-size: 75%, 100%;
    background-position: -80px, 0;
  }
}
