/**
 * Button Choice label:
 * `.btnChoiceLabel` - Themes the given node to a choice label which ideally should be placed between two `.btn`'s'.
 *
 *     @example
 *     <a href="" class="btn">Do this</a>
 *     <span class="btnChoiceLabel">or</span>
 *     <a href="" class="btn">Do that!</a>
 */
.btnChoiceLabel {
  border-radius: 100%;
  padding: 9px 5px;
  display: block;
  margin: 0 15px;

  @include mq('medium') {
    display: inline-block;
  }
}
