//
// Base styling for form input fields.
//
textarea {
	// Resets the height since textareas have the rows="" attribute.
	height: auto;

	// Sets a min-height for textareas of 3 rows.
	min-height: ($base-line-height *3) +px;

	// Prevent expanding the textarea over it's horizontal boundaries.
	resize: vertical;

	// Removes default vertical scrollbar in IE6/7/8/9.
	overflow: auto;

	// Improves readability and alignment in all browsers.
	vertical-align: top;
}

input {
	// A possible shadow-dom fix for webkit control spacing on input[type="time"].
	&::-webkit-datetime-edit {
		margin-top: -.17em;
		margin-bottom: -.17em;
  }

  &[type="search"] {
    box-sizing: border-box;
  }

	// Base styling for checkboxes and radio buttons.
	&[type="checkbox"],
	&[type="radio"] {
		margin-right: .35em;
		cursor: pointer;
	}
}

//
// Fix the font-settings for input placeholders since they wont get inherited from parent elements e.g. <body>.
//
input, textarea {
	@include placeholder() {
		font: #{$base-font-weight} #{$base-font-size / 16 * 100%} / #{$base-line-height/$base-font-size} #{$base-font-family};
	}
}

/**
 * Text inputs:
 * `.textInput`: The base class for all text related input nodes.
 *
 *     @example
 *     <input class="textInput" />
 */
@mixin textInput() {
	height: $base-line-height*1.5 + px;
	padding: .2em .5em;

	background: $content-background;
	border: 1px $basic-border-style $basic-border-color;
	border-radius: $brand-border-radius;
	box-shadow: inset 0 1px 1px rgba($basic-border-color, 0.4);

  font-size: rs(14, $unit: rem);
  font-family: $brand-font-family;
	color: lighten($base-text-color, 5%);

  cursor: pointer;
  transition: border-color .1s ease-in;

  &:hover {
    border-color: #666;
  }
}
.textInput {
	@include textInput();
}

/**
 * Disabled text inputs:
 * `.textInput--disabled`: The disabled modifier for all text related input nodes.
 *
 *     @example
 *     <input class="textInput textInput--disabled" value="Foo Bar" />
 */
@mixin textInput--disabled() {
	opacity: .5;
	pointer-events: none;
}
.textInput[disabled],
.textInput--disabled {
	@include textInput--disabled();
}

/**
 * Valid text inputs:
 * `.textInput--success`: The valid modifier for all text related input nodes.
 *
 *     @example
 *     <input class="textInput textInput--success" value="Foo Bar" />
 */
@mixin textInput--success() {
	border-color: $color-positive;
}
.textInput--success {
	@include textInput--success();
}

/**
 * Invalid text inputs:
 * `.textInput--failure`: The invalid modifier for all text related input nodes.
 *
 *     @example
 *     <input class="textInput textInput--failure" value="Foo Bar" />
 */
@mixin textInput--failure() {
	border-color: $color-negative;
}
.textInput--failure {
	@include textInput--failure();
}
