/**
 * Quotes
 */

q {
	// Sets consistent quote types.
	quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote {
	margin: 0 0 rs($basic-spacing);

  p {
    font-size: 1.2em;
    margin: 0;

    + p {
      margin-top: 1em;
    }
  }

  .flag__body {
    padding: 2em;
  }

  footer {
    margin-top: 1em;
  }

  cite {
    font-weight: bold;
    font-style: normal;
  }
}
