/**
 * Horizontal ruler:
 *
 *     @example
 *     <hr>
 */
hr {
	// Address differences between Firefox and other browsers.
	-moz-box-sizing: content-box;
	box-sizing: content-box;

	display: block;
	height: 1px;
	padding: 0;
	margin: $double-spacing*1.5+px 0 $double-spacing*1.5+px;
	border: 0;
	background: linear-gradient(to right, rgba(#FFF, 0) 0%, rgba(#000, .25) 50%, rgba(#FFF, 0) 100%);
}
