/**
 * Form
 */

/*
 * Form wrapper elements
 */
form {
	margin: 0;
}

fieldset {
	// Reset border, margin, and padding to define a consistend style accross all browsers.
	border: 0;
	margin: 0;
	padding: 0;
}