@layer components {
  :root {
    --pixel-effect-size: 1.5rem;

    @media (width >= theme(--breakpoint-md)) {
      --pixel-effect-size: 2.25rem;
    }

    @media (width >= theme(--breakpoint-lg)) {
      --pixel-effect-size: 3rem;
    }
  }
}
