#
# Compiled assets. (Currently disabled until the deployment handles the build as well.)
#
Resources/Public/JavaScript/*.js
Resources/Public/Styles/*.css
Resources/Public/Styleguide/*.html

#
# Third party dependencies
#
node_modules
