/**
 * Declarations which should be put at the top of the document e.g. @font-face declarations and CSS viewports.
 */

/*
 * Global border-box
 */
html {
	box-sizing: border-box;
}

* {
	&,
	&:before,
	&:after {
		box-sizing: inherit;
	}
}