.featureGroup {
  margin: 2em 0;
}

.featureGroup__icon {
  color: map-get($brand-colors, primary);
}

.featureGroup__title {
  font-family: var(--font-sans);
  color: map-get($brand-colors, secondary);
}

.featureGroup__description {
  color: var(--color-neutral-80);
}

.featureGroup__features {
  clear: left;
}
