@font-face {
  font-family: 'Work Sans';
  font-display: swap;
  src:
    local('Work Sans Variable'),
    url('#{$font-path}/work-sans-variable.woff2') format('woff2 supports variations'),
    url('#{$font-path}/work-sans-variable.woff2') format('woff2-variations'),
    url('#{$font-path}/work-sans-regular.woff2') format('woff2');
  font-weight: 100 1000;
}
