$font-path: "../Assets" !default;

@font-face {
  font-family: 'Work Sans';
  font-display: swap;
  src:
    local("Work Sans"),
    url('#{$font-path}/work-sans-v5-latin-regular.woff') format('woff'),
    url('#{$font-path}/work-sans-v5-latin-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
