/*
 * Normalize
 *
 * A cut-down version of normalize.css
 * @author Nicolas Gallagher
 * @link http://necolas.github.com/normalize.css/
 */

// Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
[hidden] {
  display: none;
}

html {
  // Prevents iOS text size adjust after orientation change, without disabling user zoom.
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  // Forces vertical scrollbar to prevent jumpy page
  overflow-y: scroll; /* 2 */
}

button,
input,
select,
textarea {
  // Corrects font size not being inherited in all browsers.
  font-size: 100%;

  // Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
  margin: 0;

  // Improves appearance and consistency in all browsers.
  vertical-align: baseline;
}

optgroup {
  // Re-apply the `font-weight` to avoid modifying the default UX, and because
  // the default cannot be changed in Chrome and Safari on OS X.
  font-weight: bold;
}

button,
input {
  // Addresses FF3/4 setting `line-height` on `input` using `!important` in the UA stylesheet.
  line-height: normal;
}

button,
select {
  // Address inconsistent `text-transform` inheritance for `button` and `select` in Chrome, Safari 5+, IE 8+, Firefox 4+ and Opera..
  text-transform: none;
}

button,
html input[type="button"], // Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
input[type="reset"],
input[type="submit"] {
  // Corrects inability to style clickable `input` types in iOS.
  -webkit-appearance: button;

  // Improves usability and consistency of cursor style between image-type `input` and others.
  cursor: pointer; /* 3 */
}

button[disabled],
html input[disabled] {
  // Re-set default cursor for disabled elements.
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  // Addresses box sizing set to content-box in IE8/9.
  box-sizing: border-box;

  // Removes excess padding in IE8/9.
  padding: 0;
}

input[type="search"] {
  // Addresses `appearance` set to `searchfield` in S5, Chrome.
  -webkit-appearance: textfield;

  // Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz` to future-proof).
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  // Removes inner padding and search cancel button in S5, Chrome on OS X.
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  // Removes inner padding and border in FF3+.
  border: 0;
  padding: 0;
}
