.deviceStage {
  position: relative;
  overflow: hidden;
  background: #FFF;
}

.deviceStage__device {
  position: relative;
  width: 80%;
  height: 40vw;
  margin: 0 auto;
  padding: 4vw 2.9vw 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  > img,
  > video,
  > iframe {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }

  // Set an always fixed ratio for flexible embeds, which matches the aspect ratio of the screen image.
  .flexibleEmbed__ratio {
    padding-bottom: 49.25% !important;
  }
}

.deviceStage__contents {
  padding: $double-spacing+px $double-spacing+px 0;

  // In case no content is inserted, reset the top spacing for the `.deviceStage__contents` wrapper.
  > .neos-contentcollection:empty {
    margin-top: -52px;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
