<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/Neos/FluidAdaptor/ViewHelpers"
      xmlns:gravatar="http://typo3.org/ns/Flownative/Gravatar/ViewHelpers">
<f:section name="listItem">
    <div{attributes -> f:format.raw()}>
        <a href="#"
           data-component="ClassToggler"
           data-activeClass="member-active"
           data-targetSelector="#{profileId}"
           data-targetActiveClass="team-listing-profile--visible">
            <gravatar:gravatar email="{user.email}" size="{gravatarRenderSize}" default="retro" class="gravatar"
                               width="{gravatarSize}" height="{gravatarSize}"/>
            <div class="team-listing-profile__header">
                <small>
                    <f:translate id="profile.about" source="CrowdApi" package="Neos.NeosIo">
                        About
                    </f:translate>
                </small>
                <h5>{user.display-name}</h5>
                <f:if condition="{user.additionalProperties.neos_origin}">
                    <small>
                        <f:translate id="profile.origin" source="CrowdApi" package="Neos.NeosIo"
                                     arguments="{0: user.additionalProperties.neos_origin}">
                            from {0}
                        </f:translate>
                    </small>
                </f:if>
            </div>

        </a>
        {userDetails -> f:format.raw()}
    </div>
</f:section>
</html>
