{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<ul{attributes -> f:format.raw()}>
	<f:render section="itemsList" arguments="{items: items}" />
</ul>

<f:section name="itemsList">
	<f:for each="{items}" as="item">
		<li{fusion:render(path: '{item.state}.attributes', context: {item: item}) -> f:format.raw()}>
			<neos:link.node node="{item.node}" section="{item.anchorName}" class="secondaryMenu__link">{item.label}</neos:link.node>
			<f:if condition="{item.subItems}">
				<ul class="secondaryMenu__submenu">
					<f:render section="itemsList" arguments="{items: item.subItems}" />
				</ul>
			</f:if>
		</li>
	</f:for>
</f:section>
