//
// Helper classes for brand related stylings.
//
@mixin u-brand() {
	font-family: $brand-font-family;
	color: map-get($brand-colors, primary);
 }
.u-brand {
	@include u-brand();
}

//
// Brand color helpers.
//
@each $key, $value in $brand-colors {
	.u-brandColor-#{$key} {
		color: $value;
	}
}

//
// Brand font-family helper.
//
@mixin u-brandFace() {
	font-family: $brand-font-family;
}
.u-brandFace {
	@include u-brandFace();
}

//
// Brand logo helpers.
//
.u-brandLogo {
	display: inline-block;
	width: 330px;
	height: 160px;
	max-width: 100%;
	fill: brand('primary');
	vertical-align: top;
}
.u-brandLogo--bright {
	.u-brandLogo__typo { fill: #FFF; }
}
.u-brandLogo--small {
	width: 200px;
	height: 50px;
}

.u-brandLogo--huge {
	width: 250px;
	height: 250px;
	@include mq('medium') {
		width: 300px;
		height: 300px;
	}
}

.u-brandLogo__primary {
	fill: brand('primary');
}
.u-brandLogo__typo,
.u-brandLogo__secondary {
	fill: brand('secondary');
}


// The following lines do not adhere to the BEM styles; but we need to invert the logo in some ways.
.siteHeader--shaded .siteHeader__brandLogo,
.siteFooter {
	.u-brandLogo__primary {
		fill: #FFFFFF;
	}

	.u-brandLogo__secondary {
		fill: brand('primary');
	}
}