.typo3-neos-nodetypes-textwithimage,
.typo3-neos-nodetypes-image {
	@include u-cf();
}
.typo3-neos-alignment-left {
	float: left;
}
.typo3-neos-alignment-center {
	text-align: center;
}
.typo3-neos-alignment-right {
	float: right;
}
.typo3-neos-nodetypes-image {
	margin-bottom: rs($basic-spacing, $unit: rem);
}
