/**
 * Spacing utilities
 */

// Spacings mixin
@mixin spacings-setup($namespace: '') {
	// Margin Resets
	.u-m#{$namespace}0 {
		margin: 0;
	}
	.u-ml#{$namespace}0 {
		margin-left: 0;
	}
	.u-mr#{$namespace}0 {
		margin-right: 0;
	}
	.u-mb#{$namespace}0 {
		margin-bottom: 0;
	}
	.u-mt#{$namespace}0 {
		margin-top: 0;
	}

	// Padding Resets
	.u-p#{$namespace}0 {
		padding: 0;
	}
	.u-pl#{$namespace}0 {
		padding-left: 0;
	}
	.u-pr#{$namespace}0 {
		padding-right: 0;
	}
	.u-pb#{$namespace}0 {
		padding-bottom: 0;
	}
	.u-pt#{$namespace}0 {
		padding-top: 0;
	}

	// Whole Margins
	.u-m#{$namespace}1#{\/}1 {
		margin: rs($basic-spacing, $unit: rem);
	}
	.u-ml#{$namespace}1#{\/}1 {
		margin-left: rs($basic-spacing, $unit: rem);
	}
	.u-mr#{$namespace}1#{\/}1 {
		margin-right: rs($basic-spacing, $unit: rem);
	}
	.u-mb#{$namespace}1#{\/}1 {
		margin-bottom: rs($basic-spacing, $unit: rem);
	}
	.u-mt#{$namespace}1#{\/}1 {
		margin-top: rs($basic-spacing, $unit: rem);
	}

	// Whole Paddings
	.u-p#{$namespace}1#{\/}1 {
		padding: rs($basic-spacing, $unit: rem);
	}
	.u-pl#{$namespace}1#{\/}1 {
		padding-left: rs($basic-spacing, $unit: rem);
	}
	.u-pr#{$namespace}1#{\/}1 {
		padding-right: rs($basic-spacing, $unit: rem);
	}
	.u-pb#{$namespace}1#{\/}1 {
		padding-bottom: rs($basic-spacing, $unit: rem);
	}
	.u-pt#{$namespace}1#{\/}1 {
		padding-top: rs($basic-spacing, $unit: rem);
	}

	// Halve Margins
	.u-m#{$namespace}1#{\/}2 {
		margin: rs($half-spacing, $unit: rem);
	}
	.u-ml#{$namespace}1#{\/}2 {
		margin-left: rs($half-spacing, $unit: rem);
	}
	.u-mr#{$namespace}1#{\/}2 {
		margin-right: rs($half-spacing, $unit: rem);
	}
	.u-mb#{$namespace}1#{\/}2 {
		margin-bottom: rs($half-spacing, $unit: rem);
	}
	.u-mt#{$namespace}1#{\/}2 {
		margin-top: rs($half-spacing, $unit: rem);
	}

	// Halve Paddings
	.u-p#{$namespace}1#{\/}2 {
		padding: rs($half-spacing, $unit: rem);
	}
	.u-pl#{$namespace}1#{\/}2 {
		padding-left: rs($half-spacing, $unit: rem);
	}
	.u-pr#{$namespace}1#{\/}2 {
		padding-right: rs($half-spacing, $unit: rem);
	}
	.u-pb#{$namespace}1#{\/}2 {
		padding-bottom: rs($half-spacing, $unit: rem);
	}
	.u-pt#{$namespace}1#{\/}2 {
		padding-top: rs($half-spacing, $unit: rem);
	}
}

@include spacings-setup();