/**
 * Text alignment utilities:
 *
 *     @example
 *     <div>
 *       <div class="u-alignRight">This text should be align on the right boundary.</div>
 *       <div class="u-alignCenter">This text should be center algined.</div>
 *       <div class="u-alignLeft">This text should be align on the left boundary.</div>
 *     </div>
 */
@mixin u-alignCenter() {
	text-align: center;
}
.u-alignCenter {
	@include u-alignCenter();
}

@mixin u-alignRight() {
	text-align: $end;
}
.u-alignRight {
	@include u-alignRight();
}

@mixin u-alignLeft() {
	text-align: $start;
}
.u-alignLeft {
	@include u-alignLeft();
}

/**
 * Text size utilities:
 *
 *     @example
 *     <div>
 *       <div>This text should be normal sized.</div>
 *       <div class="u-microCopy">This text should be micro sized.</div>
 *       <div class="u-largeText">This text should be large sized.</div>
 *     </div>
 */
@mixin u-microCopy() {
	font-size: 14px;
}
.u-microCopy {
	@include u-microCopy();
}

@mixin u-largeText() {
	font-size: rs($base-font-size + 6, $unit: rem);
}
.u-largeText {
	@include u-largeText();
}

/**
 * Text break utility:
 * Break strings/text if it exceeds the boundaries of their container.
 *
 *     @example
 *     <div>
 *       <div>Thiswordwillexpandtheboundariessssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</div>
 *       <div class="u-textBreak">Thiswordwontexpandtheboundariessssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</div>
 *     </div>
 */
@mixin u-textBreak() {
	word-wrap: break-word;
	hyphens: auto;
}
.u-textBreak {
	@include u-textBreak();
}

/**
 * Text invert utility:
 * Inverts the text on the element and it's siblings.
 *
 *     @example
 *     <div style="background: #000;">
 *       <div>This text should hardly be visible since it has the standard color.</div>
 *       <div class="u-invertText">This text should be easily visible since it is white coloured.</div>
 *     </div>
 */
@mixin u-invertText() {
	&,
	h1, h2, h3,
	h4, h5, h6 {
		color: color-adjust($base-text-color, 100%);
	}

	.btn--solidBright {
		color: $base-text-color;
	}
}
.u-invertText {
	@include u-invertText();
}

/**
 * List reset utility:
 * Removes all standard stylings for a list element and it's siblings.
 *
 *     @example
 *     <ul>
 *       <li>This is standard list item.</li>
 *       <li>This is yet another list item.</li>
 *     </ul>
 *     <ul class="u-resetList">
 *       <li>This is unstyled list item.</li>
 *       <li>This is yet another list item.</li>
 *     </ul>
 */
@mixin u-resetList() {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.u-resetList {
	@include u-resetList();
}

/**
 * Link reset utility:
 * Removes all standard stylings for an anchor/link element.
 *
 *     @example
 *     <a href="#">This is a default styled link</a>
 *     <a href="#" class="u-linkReset">This is a link without styles</a>
 */
@mixin u-linkReset() {
	color: currentColor;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}

	p & {
		padding: 0;
		margin: 0;
	}
}
.u-linkReset {
	@include u-linkReset();
}
