.bento-boxes {
  --bento-boxes-gap-width: 0;

  .n-background--accent-lightblue {
    @apply text-white;
  }

  @screen md {
    --bento-boxes-gap-width: 2.5rem;
  }

  .bento-boxes__heading {
    @apply w-full 2xl:w-full;

    @screen md {
      width: 40%;
    }

    @screen 2xl {
      @apply w-full;
    }
  }

  .bento-boxes__lead {
    @apply w-full 2xl:w-full;

    @screen md {
      width: 50%;
    }

    @screen 2xl {
      @apply w-full;
    }
  }

  .bento-boxes__row {
    .bento-boxes__box-wrapper {
      --bento-boxes-column-width: 100%;
      @apply p-0 w-full;

      @screen md {
        --bento-boxes-column-width: 50%;
        width: var(--bento-boxes-column-width);
      }

      .n-paragraph svg {
        @apply inline-block;
      }

      &:hover .n-paragraph svg > path:first-child {
        @apply scale-x-100;
      }
    }

    @screen md {
      &:first-child .bento-boxes__box-wrapper {
        @apply pt-20;

        &:first-child {
          @apply pt-0;
        }
      }

      &:last-child .bento-boxes__box-wrapper {
        @apply pb-10;

        &:last-child {
          @apply pb-0;
        }
      }

      &:nth-child(2n) .bento-boxes__box-wrapper {
        &:first-child {
          --bento-boxes-column-width: 60%;
        }

        &:last-child {
          --bento-boxes-column-width: 40%;
        }
      }

      &:nth-child(2n + 1) .bento-boxes__box-wrapper {
        &:first-child {
          --bento-boxes-column-width: 40%;
        }

        &:last-child {
          --bento-boxes-column-width: 60%;
        }
      }
    }

    @screen 2xl {
      &:nth-child(2n) .bento-boxes__box-wrapper {
        &:first-child {
          --bento-boxes-column-width: 50%;
        }

        &:last-child {
          --bento-boxes-column-width: 50%;
        }
      }

      &:nth-child(4n + 1) .bento-boxes__box-wrapper {
        &:first-child {
          --bento-boxes-column-width: 40%;
        }

        &:last-child {
          --bento-boxes-column-width: 60%;
        }
      }

      &:nth-child(4n + 3) .bento-boxes__box-wrapper {
        &:first-child {
          --bento-boxes-column-width: 60%;
        }

        &:last-child {
          --bento-boxes-column-width: 40%;
        }
      }
    }
  }
}
